In [2]:
from watertap3.truck_pipe_cost_functions import elevation
import pandas as pd
import numpy as np
from shapely import wkt

In [2]:
# Read brackish well file
bw_df = pd.read_csv('/Users/mhardika/Documents/AMO/GeoToolAll_Methods/Water Source Data/Brackish/brackish_sites_baseline_dwi_5Feb23.csv')

In [159]:
# Select state
state_alpha = 'WY'
state_elev= pd.DataFrame(columns=['unique_site_ID','elevation_m'])
bw_state_df = bw_df[bw_df['state_alpha'] == state_alpha].copy()

well_id_list = []
elev_list = []

for idx, row in bw_state_df.iterrows():
    well_id_list.append(row['unique_site_ID'])
    bw_long = row['Longitude']
    bw_lat = row['Latitude']
  
    elev_list.append(elevation(bw_lat,bw_long))
    # elev_list.append(0)

state_elev['unique_site_ID']= well_id_list
state_elev['elevation_m']= elev_list

state_elev.head(5)

         unique_site_ID  elevation_m
0  USGS-411808106464001  2174.280029
1  USGS-412227106512501  2169.820068
2  USGS-414716107135101  2055.769775
3  USGS-414950111013001  1900.570068
4  USGS-415150110495501  2034.609985

In [160]:
PATH = r'\Users\mhardika\Documents\AMO\GeoToolAll_Methods\Water Source Data\Brackish\elevation_data\\'
state_elev.to_csv(PATH + '\\' + state_alpha.lower()+'.csv')

In [161]:
# PATH = r'\Users\mhardika\Documents\AMO\GeoToolAll_Methods\Water Source Data\Brackish\elevation_data\\'
# elev_db = pd.read_csv(PATH + '\\' + state_alpha.lower()+'.csv', index_col = 0)
# elev_db = elev_db.set_index('unique_site_ID')

In [162]:
# elev_db.head(5)

In [3]:
# Power plant elevation data base
pp_combined_df = pd.read_csv(r'\Users\mhardika\Documents\AMO\Analysis Data Files\Power\power_plant_combined_demand.csv')

In [5]:
pp_elev= pd.DataFrame(columns=['PlantCode','elevation_m'])

plantcode_list = []
elev_list = []

for idx, row in pp_combined_df.iterrows():
    plantcode_list.append(row['PlantCode'])
    pp_long = row['PPLongitude']
    pp_lat = row['PPLatitude']
  
    elev_list.append(elevation(pp_lat,pp_long))
    # elev_list.append(0)

pp_elev['PlantCode']= plantcode_list
pp_elev['elevation_m']= elev_list

pp_elev.head(5)

   PlantCode  elevation_m
0          3     6.572838
1          7   161.260391
2         10    31.777483
3         26   128.900803
4         46   178.413254

In [6]:
# pp_elev.to_csv("/Users/mhardika/Documents/AMO/GeoToolAll_Methods/Water Source Data/Power/pp_elevation_data.csv")

In [6]:
pp_elev = pd.read_csv("/Users/mhardika/Documents/AMO/GeoToolAll_Methods/Water Source Data/Power/pp_elevation_data.csv", index_col = 0)
pp_elev = pp_elev.set_index('PlantCode')

In [5]:
pubsupply_demand_state.head(2)

,Unnamed: 0,state_alpha,state_code,place,place_code,county,county_code,place_pop,county_pop_frac,county_water_demand (m3/yr),place_water_demand (m3/yr),polygon,centroid
0,0,AL,1,Autaugaville town,3220,Autauga County,1,795.0,0.023107,5029299.093,116214.238804,"POLYGON ((-86.68870699999999 32.447597, -86.68...",POINT (-86.6578554757818 32.43204619882899)
1,0,AL,1,Billingsley town,6460,Autauga County,1,125.0,0.003633,5029299.093,18272.679057,"POLYGON ((-86.725319 32.659948, -86.7238799999...",POINT (-86.70866523504226 32.66099111585174)

In [11]:
# Elevation for places in public supply demand files
pubsupply_elev = pd.DataFrame()
place_list = []
elev_list = []
state_codes = ['AL','AZ','AR','CA','CO','CT','FL','GA','ID','IL'
               'IN','IA','KS','KY','LA','MD','MI','MN','MS','MO',
               'MA','MT','NE','NV','NJ','NM','NY','NC','ND','OH',
               'NH','OK','OR','PA','SC','SD','TX','UT','VA','WA',
               'TN','WV','WI','WY']

# for state_alpha in contiguous_usa:
for state_alpha in ['IA']:
    PATH = r'\Users\mhardika\Documents\AMO\Analysis Data Files\Public Supply\state wise demand\\' + state_alpha
    pubsupply_demand_state = pd.read_csv(PATH + '\\' + state_alpha.lower()+'_pubsupply_demand_df.csv')
    pubsupply_demand_state['centroid'] = pubsupply_demand_state['centroid'].apply(wkt.loads)
    for idx,row in pubsupply_demand_state.iterrows():
        place_list.append(row['place_code'])
        ps_long = row['centroid'].x
        ps_lat = row['centroid'].y

        elev_list.append(elevation(ps_lat,ps_long))
    # elev_list.append(0)

    pubsupply_elev['place_code']= place_list
    pubsupply_elev['elevation_m']= elev_list

    pubsupply_elev.to_csv(PATH + '\\' + state_alpha.lower()+'_pubsupply_elevation_data.csv')

pubsupply_elev.head(5)

   place_code  elevation_m
0         370   447.266602
1        8425   380.796112
2       11395   390.168396
3       28290   411.238647
4       32790   418.674255