In [47]:
import pandas as pd
import numpy as np

In [51]:
# combine baseline results and clean
seawater = pd.DataFrame()
santa_barbara = pd.read_csv("results/case_studies/santa_barbara_baseline.csv", index_col=False)
tampa_bay = pd.read_csv("results/case_studies/tampa_bay_baseline.csv", index_col=False)
seawater = pd.concat([tampa_bay, santa_barbara])

In [52]:
# delete unwanted variables
d_vars = ['Land', 'Working Capital', 'Fixed Capital Investment (FCI)', 
         'Employee Salaries', 'Benefits', 'Maintenance', 'Laboratory', 'Insurance and Taxes', 
         'Base Employee Salary', 'System Total Operating', 'System Fixed Operating',
         'System Other Variable Operating', 'System Total Operating']

for d_var in d_vars:
    seawater = seawater[seawater.Variable != d_var]
    
seawater = seawater.drop_duplicates()

In [53]:
seawater.Variable = np.where(seawater.Variable == 'Other Operating', "Other Variable Operating", seawater.Variable)
seawater.Variable = np.where(seawater.Variable == 'Total Fixed Operating ', 'Fixed Operating', seawater.Variable)

In [54]:
seawater.to_csv("results/case_studies/seawater_baseline.csv")

In [55]:
# combine baseline results and clean
seawater1 = pd.DataFrame()
santa_barbara = pd.read_csv("results/case_studies/santa_barbara_baseline_sensitivity.csv", index_col=False)
santa_barbara["scenario"] = np.array("Santa Barbara")
tampa_bay = pd.read_csv("results/case_studies/tampa_bay_baseline_sensitivity.csv", index_col=False)
tampa_bay["scenario"] = np.array("Tampa Bay")
seawater1 = pd.concat([tampa_bay, santa_barbara])
del seawater1["Unnamed: 0"]

In [56]:
seawater1.head()

,lcow,water_recovery,elec_lcow,scenario_value,scenario_name,lcow_difference,water_recovery_difference,elec_lcow_difference,scenario
0,1.218543,55.000001,32.457991,NaN,baseline,3.331113e-12,-1.198153e-12,8.071321e-14,Tampa Bay
1,1.305582,55.000001,32.457991,0.700,plant_cap_utilization,8.703882e-02,0.000000e+00,0.000000e+00,Tampa Bay
2,1.278192,55.000001,32.457991,0.715,plant_cap_utilization,5.964898e-02,0.000000e+00,5.551115e-17,Tampa Bay
3,1.251928,55.000001,32.457991,0.730,plant_cap_utilization,3.338475e-02,1.110223e-16,5.551115e-17,Tampa Bay
4,1.226722,55.000001,32.457991,0.745,plant_cap_utilization,8.178144e-03,0.000000e+00,5.551115e-17,Tampa Bay

In [57]:
seawater1.to_csv("results/case_studies/seawater_baseline_sensitivity.csv")

In [29]:
santa_barbara[santa_barbara.scenario_name == "inlet flow"].head()

,Unnamed: 0,lcow,water_recovery,elec_lcow,scenario_value,scenario_name,lcow_difference,water_recovery_difference,elec_lcow_difference,scenario
43,43,1.350980,41.332564,36.332269,0.216440,inlet flow,-0.063338,-0.086674,-0.000605,Santa Barbara
44,44,1.354074,42.420544,36.406178,0.225716,inlet flow,-0.060244,-0.075795,0.000134,Santa Barbara
45,45,1.358065,43.453992,36.460427,0.234992,inlet flow,-0.056253,-0.065460,0.000677,Santa Barbara
46,46,1.362874,44.434747,36.497009,0.244268,inlet flow,-0.051444,-0.055653,0.001043,Santa Barbara
47,47,1.368431,45.364789,36.517741,0.253544,inlet flow,-0.045887,-0.046352,0.001250,Santa Barbara

In [30]:
santa_barbara.scenario_name.unique()

array(['baseline', 'plant_cap_utilization', 'inlet salinty 25k-45k mg/L',
       'inlet flow', 'lifetime (yrs)', 'electricity price +- 20%',
       'reverse_osmosis_membrane_area', 'reverse_osmosis_pressure',
       'reverse_osmosis_factor_membrane_replacement'], dtype=object)