In [1]:
import watertap as wt

In [2]:
from case_study_trains import *
import case_study_trains

In [3]:
m = wt.watertap_setup(dynamic = False)

In [4]:
wt.case_study_trains.train = {"case_study": "SantaBarbara",
                             "reference": "NAWI",
                             "scenario": "Baseline"}

In [5]:
# TODO LATER: how to make this sync with info in train input data. We might not need to do that.
#But, if the source water type is different to what is in the train (pfd dictionary), 
#then we should updat the node name. If more than two sources - what to do? Needs to be
#based on pfd node!?

wt.case_study_trains.source_water = {"case_study": "SantaBarbara", 
                             "reference": "NAWI",
                             "scenario": "Baseline",
                             "water_type": "Seawater"}

In [6]:
m = wt.case_study_trains.get_case_study(m = m) # flow is set as case study flow unless defined.

In [7]:
wt.display.show_train2(model_name=m)

In [9]:
wt.run_water_tap(m = m, solver_results = True, print_model_results = True)

degrees_of_freedom: 111
Ipopt 3.12.13:

******************************************************************************
This program contains Ipopt, a library for large-scale nonlinear optimization.
 Ipopt is released as open source code under the Eclipse Public License (EPL).
         For more information visit http://projects.coin-or.org/Ipopt
******************************************************************************

This is Ipopt version 3.12.13, running with linear solver mumps.
NOTE: Other linear solvers might be more efficient (see Ipopt documentation).

Number of nonzeros in equality constraint Jacobian...:     1868
Number of nonzeros in inequality constraint Jacobian.:        0
Number of nonzeros in Lagrangian Hessian.............:      195

Total number of variables............................:      787
                     variables with only lower bounds:        0
                variables with lower and upper bounds:        3
                     variables with only upper bounds:        0
Total number of equality constraints.................:      676
Total number of inequality constraints...............:        0
        inequality constraints with only lower bounds:        0
   inequality constraints with lower and upper bounds:        0
        inequality constraints with only upper bounds:        0

iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
   0  0.0000000e+00 4.12e-02 0.00e+00  -1.0 0.00e+00    -  0.00e+00 0.00e+00   0
   1  0.0000000e+00 4.13e-04 2.98e-02  -1.7 5.95e-01  -2.0 1.00e+00 9.90e-01h  1
   2  0.0000000e+00 5.45e-07 3.71e-02  -2.5 2.89e-02  -1.6 1.00e+00 9.99e-01h  1
   3  0.0000000e+00 1.58e-05 1.84e-02  -2.5 1.21e-02  -1.1 1.00e+00 1.00e+00f  1
   4  0.0000000e+00 3.32e-07 1.52e-04  -3.8 6.40e-03  -1.6 1.00e+00 1.00e+00h  1
   5  0.0000000e+00 1.31e-07 6.98e-04  -5.7 5.92e-04  -2.1 1.00e+00 1.00e+00h  1
   6  0.0000000e+00 1.36e-07 2.05e-03  -5.7 1.67e-03  -2.6 1.00e+00 1.00e+00s 22
   7r 0.0000000e+00 1.36e-07 1.00e+03  -5.7 0.00e+00  -3.1 0.00e+00 0.00e+00R  1
   8r 0.0000000e+00 1.36e-07 7.27e+02  -5.7 9.67e-03    -  4.43e-01 2.63e-01f  1
   9r 0.0000000e+00 4.39e-10 6.20e+02  -5.7 6.02e-04    -  8.27e-03 3.42e-01f  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  10  0.0000000e+00 4.95e-09 5.61e-07  -5.7 1.92e-03  -3.5 1.00e+00 1.00e+00h  1
  11  0.0000000e+00 9.10e-10 1.75e-07  -8.6 7.78e-06  -4.0 1.00e+00 1.00e+00h  1
  12  0.0000000e+00 3.95e-11 7.62e-10  -8.6 2.34e-05  -4.5 1.00e+00 1.00e+00h  1

Number of Iterations....: 12

                                   (scaled)                 (unscaled)
Objective...............:   0.0000000000000000e+00    0.0000000000000000e+00
Dual infeasibility......:   7.6202070748464941e-10    7.6202070748464941e-10
Constraint violation....:   3.9527714434939298e-11    3.9527714434939298e-11
Complementarity.........:   2.5059036892057452e-09    2.5059036892057452e-09
Overall NLP error.......:   2.5059036892057452e-09    2.5059036892057452e-09


Number of objective function evaluations             = 36
Number of objective gradient evaluations             = 12
Number of equality constraint evaluations            = 36
Number of inequality constraint evaluations          = 0
Number of equality constraint Jacobian evaluations   = 14
Number of inequality constraint Jacobian evaluations = 0
Number of Lagrangian Hessian evaluations             = 12
Total CPU secs in IPOPT (w/o function evaluations)   =      0.069
Total CPU secs in NLP function evaluations           =      0.001

EXIT: Optimal Solution Found.
----------------------------------------------------------------------
fs.sw_onshore_intake
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.0001}
         :    flow_vol : {0.0: 1.5278666666666667}
         :    pressure : {0.0: 200000.0}
         : temperature : {0.0: 300.0001}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.000450004500046}
         :    flow_vol : {0.0: 1.5278513880000002}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0001}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -1.1022793705429773e-18}
         :    flow_vol : {0.0: 1.5278666666507235e-05}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0001}
Show some costing values
---------------------
should have a cost sw_onshore_intake
total_up_cost: 9.088914041433407
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.fecl3_addition
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.000450004500046}
         :    flow_vol : {0.0: 1.5278513880000002}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0001}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.000800012500164}
         :    flow_vol : {0.0: 1.5278361094861204}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0001}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 4.6005979124084005e-15}
         :    flow_vol : {0.0: 1.527851387982461e-05}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0001}
Show some costing values
---------------------
should have a cost fecl3_addition
total_up_cost: 2.786452874099019
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.chlorination_twb
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.000800012500164}
         :    flow_vol : {0.0: 1.5278361094861204}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0001}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.001150024000395}
         :    flow_vol : {0.0: 1.5278208311250256}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0001}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 4.600641788496621e-15}
         :    flow_vol : {0.0: 1.527836109470672e-05}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0001}
Show some costing values
---------------------
should have a cost chlorination_twb
total_up_cost: 8.905665527825418
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.static_mixer_a

AttributeError: '_ScalarUnitProcess' object has no attribute 'inlet1'

In [10]:
wt.get_results_table(m = m)

,Unit Process Name,Variable,Value,Metric,Unit,Case Study,Scenario
0,sw_onshore_intake,Fixed Capital Investment (FCI),7.903+0.000j,Cost,$MM,SantaBarbara,Baseline
1,sw_onshore_intake,Land,0.012+0.000j,Cost,$MM,SantaBarbara,Baseline
2,sw_onshore_intake,Working Capital,0.395+0.000j,Cost,$MM,SantaBarbara,Baseline
3,sw_onshore_intake,Total Capital Investment (TCI),8.310+0.000j,Cost,$MM,SantaBarbara,Baseline
4,sw_onshore_intake,Catalysts and Chemicals,0.000+0.000j,Annual Cost,$MM/yr,SantaBarbara,Baseline
...,...,...,...,...,...,...,...
983,System,System Electricity,40.334+0.000j,Annual Cost,$MM/yr,SantaBarbara,Baseline
984,System,System Other Variable Operating,0.000+0.000j,Annual Cost,$MM/yr,SantaBarbara,Baseline
985,System,System Fixed Operating,N00000a00000N,Annual Cost,$MM/yr,SantaBarbara,Baseline
986,System,System Total Operating Cost,N00000a00000N,Annual Cost,$MM/yr,SantaBarbara,Baseline
987,System,System Levelized Cost,N00000a00000N,LCOW,$/m3,SantaBarbara,Baseline

In [17]:
csv_dir = './results/CarlsbadCompare.csv'
json_dir = './tmp/example.json'

wt.app3.run_dash(csv_dir, json_dir)

Dash app running on http://127.0.0.1:8050/

In [18]:
case_study_trains.train["scenario"]

'Baseline'

In [ ]:
cost_range_list = []; #results will be inputted in this array
#up_name = "tri_media_filtration" # which unit process it applies to. TODO hould be user input.

#for value_change in pct_to_target1: # cycles through each value from MC range
for value_change in [0.4, 0.8]: #, 0.9]:

    # create and build model
    m = wt.watertap_setup(dynamic = False)
    m = wt.case_study_trains.get_case_study(name = 'carlsbad', flow = 4.5833, m = m)

    m.fs.tri_media_filtration.water_recovery.fix(value_change)

    # set variable to MC value
    wt.run_water_tap(m)
    results_table = get_results_table(m, unit_process_name)
    cost_range_list.append(results_table.total_up_cost.sum())

In [ ]:
cost_range_list

In [ ]:
#### DO NOT USE THE BELOW ####

In [ ]:
import time
from multiprocessing import Pool
import multiprocessing

mu = 0.6
sigma = .1
num_reps = 50

input_list = np.random.normal(mu,sigma, size = num_reps) #, sigma, num_reps).round(4)

count, bins, ignored = plt.hist(input_list, 25, density=True)
plt.plot(bins, 1/(sigma * np.sqrt(2 * np.pi)) * np.exp( - (bins - mu)**2 / (2 * sigma**2) ),
          linewidth=2, color='r')
plt.show()

### INPUT TO MODEL LIST: ### CAN BE AUTOMATED FOR USER TO LABEL THE VARIABLE. TOOD ###
no_of_proc = 4
list_final = []
for i in range(no_of_proc):
    part2 = len(input_list) / no_of_proc
    i2 = ((i+1)*part2)
    list1 = input_list[int(i*part2):int(i2)]
    list_final.append(list1)
    
    
def monte_run(list_final):
    print('goes in')

    up_name = "tri_media_filtration" # which unit process it applies to. TODO hould be user input.
    cost_range_list = []; #results will be inputted in this array

    #for value_change in pct_to_target1: # cycles through each value from MC range
    for value_change in list_final:

        # create and build model
        m = wt.watertap_setup(dynamic = False)
        m = wt.case_study_trains.get_case_study(name = 'carlsbad', flow = 4.5833, m = m)

        getattr(m.fs, up_name).water_recovery.fix(value_change)

        # set variable to MC value
        result = wt.run_water_tap(m)
        results_table = get_results_table(m, unit_process_names)
        cost_range_list.append(results_table.total_up_cost.sum())


    return cost_range_list

startTime = time.time()

pool=Pool()
dfs = pool.map(monte_run, list_final) #SomeClass().preprocess_data()

executionTime = (time.time() - startTime)
print('Execution time in seconds: ' + str(executionTime))

In [ ]:
####TO DO LOAD AND SAVE!!

In [ ]:
#### SAVE TRAIN ####
# path = 'trains/Tutorial1_treatment_train_example.csv'
# wt.save_train(T, path)

In [ ]:
# #### LOAD TRAIN ####
# path = 'trains/Tutorial1_treatment_train_example.csv'
# TT = wt.load_train(path)

In [ ]:
# wt.display.show_train(TT)