### This is a tutorial for running the Carlsbad case study. The steps are:
#### 1. Import WaterTAP3 package 
#### 2. Look up case study options
#### 3. Define your case study, reference, and water type based on the case study library.
#### 4. Set up model and populate model with case study information.
#### 5. View the treatment train.
#### 6. Run the treatment train.
#### 7. Look at the results table.
#### 8. View results using Dash.
#### 9. Sensitivity Analysis

##### Step 1. Import WaterTAP3 package

In [1]:
import watertap as wt

##### Step 2. Look up case study options. For now each case study has only one reference and water type and the baseline scenario is the only option. Eventually we will be able to mix and match options below. For example, selecting a train from one place and the source water from another. We may or may not have the scenario selection here.

In [2]:
wt.case_study_trains.case_study_library.head()

      Case_Study  Scenario Reference WaterType
0       Ashkelon  Baseline      NAWI  Seawater
1       Carlsbad  Baseline      NAWI  Seawater
2      Tampa_Bay  Baseline      NAWI  Seawater
3  Santa_Barbara  Baseline      NAWI  Seawater
4          KBHDP  Baseline      NAWI       NaN

##### Step 3: Define your case study, reference, and water type based on the case study library.

In [3]:
wt.case_study_trains.case_study = "Carlsbad"
wt.case_study_trains.reference = "NAWI"
wt.case_study_trains.water_type = "Seawater"
wt.case_study_trains.scenario = "Baseline"

##### Step 4: Set up model and populate model with case study information. #TODO Flow is in m3/s (user can select unit of their choice - future tutorial).

In [4]:
# eventually we may want to be able to choose a dynamic model or different model set ups.
m = wt.watertap_setup(dynamic = False)

# load the treatment train, source water information, and flow to the model. #TODO automate flow based on case study.
m = wt.case_study_trains.get_case_study(flow = 4.5833, m = m)

##### Step 5: View the treatment train.

In [5]:
wt.display.show_train2(model_name=m)

##### Step 6. Run the treatment train.

#### 6. Run the treatment train.

In [6]:
wt.run_water_tap(m = m, solver_results = False, print_model_results = False)

#### 7. Look at the results table.

In [7]:
wt.get_results_table(m = m).head()

,Unit Process Name,Variable,Value,Metric,Unit,Case Study,Scenario
0,sw_onshore_intake,Fixed Capital Investment (FCI),20.980,Cost,$MM,Carlsbad,Baseline
1,sw_onshore_intake,Land,0.031,Cost,$MM,Carlsbad,Baseline
2,sw_onshore_intake,Working Capital,1.049,Cost,$MM,Carlsbad,Baseline
3,sw_onshore_intake,Total Capital Investment (TCI),22.061,Cost,$MM,Carlsbad,Baseline
4,sw_onshore_intake,Catalysts and Chemicals,0.000,Cost,$MM/yr,Carlsbad,Baseline

#### 8. View results using Dash.

In [ ]:
FUNCTION(CSV_NAME, JSON_NAME)

#### 9. Sensitivity Analysis

In [ ]:
# CHANGE TDS AND PRESSURE. TDS 1 - 50 kg in 5 kg increments. pressure in

In [ ]:
#### DO NOT USE THE BELOW ####

In [ ]:
cost_range_list = []; #results will be inputted in this array
#up_name = "tri_media_filtration" # which unit process it applies to. TODO hould be user input.

#for value_change in pct_to_target1: # cycles through each value from MC range
for value_change in [0.4, 0.8]: #, 0.9]:

    # create and build model
    m = wt.watertap_setup(dynamic = False)
    m = wt.case_study_trains.get_case_study(name = 'carlsbad', flow = 4.5833, m = m)

    m.fs.tri_media_filtration.water_recovery.fix(value_change)

    # set variable to MC value
    wt.run_water_tap(m)
    results_table = get_results_table(m, unit_process_name)
    cost_range_list.append(results_table.total_up_cost.sum())

In [ ]:
import time
from multiprocessing import Pool
import multiprocessing

mu = 0.6
sigma = .1
num_reps = 50

input_list = np.random.normal(mu,sigma, size = num_reps) #, sigma, num_reps).round(4)

count, bins, ignored = plt.hist(input_list, 25, density=True)
plt.plot(bins, 1/(sigma * np.sqrt(2 * np.pi)) * np.exp( - (bins - mu)**2 / (2 * sigma**2) ),
          linewidth=2, color='r')
plt.show()

### INPUT TO MODEL LIST: ### CAN BE AUTOMATED FOR USER TO LABEL THE VARIABLE. TOOD ###
no_of_proc = 4
list_final = []
for i in range(no_of_proc):
    part2 = len(input_list) / no_of_proc
    i2 = ((i+1)*part2)
    list1 = input_list[int(i*part2):int(i2)]
    list_final.append(list1)
    
    
def monte_run(list_final):
    print('goes in')

    up_name = "tri_media_filtration" # which unit process it applies to. TODO hould be user input.
    cost_range_list = []; #results will be inputted in this array

    #for value_change in pct_to_target1: # cycles through each value from MC range
    for value_change in list_final:

        # create and build model
        m = wt.watertap_setup(dynamic = False)
        m = wt.case_study_trains.get_case_study(name = 'carlsbad', flow = 4.5833, m = m)

        getattr(m.fs, up_name).water_recovery.fix(value_change)

        # set variable to MC value
        result = wt.run_water_tap(m)
        results_table = get_results_table(m, unit_process_names)
        cost_range_list.append(results_table.total_up_cost.sum())


    return cost_range_list

startTime = time.time()

pool=Pool()
dfs = pool.map(monte_run, list_final) #SomeClass().preprocess_data()

executionTime = (time.time() - startTime)
print('Execution time in seconds: ' + str(executionTime))

In [ ]:
####TO DO LOAD AND SAVE!!

In [ ]:
#### SAVE TRAIN ####
# path = 'trains/Tutorial1_treatment_train_example.csv'
# wt.save_train(T, path)

In [ ]:
# #### LOAD TRAIN ####
# path = 'trains/Tutorial1_treatment_train_example.csv'
# TT = wt.load_train(path)

In [ ]:
# wt.display.show_train(TT)