In [1]:
%matplotlib inline
from pylab import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
from networkx.drawing.nx_agraph import write_dot, graphviz_layout
from pyomo.environ import ConcreteModel, SolverFactory, TerminationCondition, \
    value, Var, Constraint, Expression, Objective, TransformationFactory, units as pyunits
from pyomo.network import Arc, SequentialDecomposition
from idaes.core.util.model_statistics import degrees_of_freedom

from split_test2 import Separator1

from mixer_example import Mixer1

### TODO: CREATE INTRO

##### Import WaterTAP3 Package

In [2]:
import watertap as wt

##### Step 1: Look up unit process library. Returns a List.

##### Step 3: Set up IDAES flowsheet for watertap. This selects a property package for you (see water_props.py). The property package could be changed in the future for performing heat/energy and other balances.

In [3]:
m = wt.watertap_setup(dynamic = False)

##### Step 3: Add a water source and define inlet flow.

In [4]:
m = wt.case_study_trains.get_case_study(name = 'carlsbad', flow = 4.5833, m = m)

/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)

In [5]:
wt.display.show_train2(model_name=m)

In [6]:
##### Step 5:  Run model and display results. The resutls display will be put into easier format to read for user soon.

In [7]:
result = wt.run_water_tap(m)

Ipopt 3.12.13:

******************************************************************************
This program contains Ipopt, a library for large-scale nonlinear optimization.
 Ipopt is released as open source code under the Eclipse Public License (EPL).
         For more information visit http://projects.coin-or.org/Ipopt
******************************************************************************

This is Ipopt version 3.12.13, running with linear solver mumps.
NOTE: Other linear solvers might be more efficient (see Ipopt documentation).

Number of nonzeros in equality constraint Jacobian...:      755
Number of nonzeros in inequality constraint Jacobian.:        0
Number of nonzeros in Lagrangian Hessian.............:      133

Total number of variables............................:      283
                     variables with only lower bounds:        0
                variables with lower and upper bounds:        1
                     variables with only upper bounds:        0
Total number of equality constraints.................:      283
Total number of inequality constraints...............:        0
        inequality constraints with only lower bounds:        0
   inequality constraints with lower and upper bounds:        0
        inequality constraints with only upper bounds:        0

iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
   0  0.0000000e+00 1.00e+05 0.00e+00  -1.0 0.00e+00    -  0.00e+00 0.00e+00   0
   1  0.0000000e+00 1.18e+04 7.76e-01  -1.0 1.00e+05    -  5.78e-01 1.00e+00h  1
   2  0.0000000e+00 7.95e+03 2.66e+09  -1.0 6.98e+04  -4.0 1.00e+00 5.00e-01h  2
   3  0.0000000e+00 4.57e+02 1.80e+04  -1.0 1.54e+03    -  1.00e+00 1.00e+00h  1
   4  0.0000000e+00 5.38e-01 4.96e+07  -1.0 3.56e+00   5.8 1.00e+00 1.00e+00h  1
   5  0.0000000e+00 2.86e+02 1.83e+07  -1.0 3.84e+04    -  1.00e+00 1.00e+00h  1
   6  0.0000000e+00 5.36e-01 1.27e+06  -1.0 1.42e+00   5.4 1.00e+00 1.00e+00h  1
   7  0.0000000e+00 2.82e+02 7.83e+07  -1.0 7.93e+04    -  1.00e+00 1.00e+00h  1
   8  0.0000000e+00 4.16e-02 1.28e+06  -1.0 1.83e+00   4.9 1.00e+00 1.00e+00h  1
   9  0.0000000e+00 2.75e+02 2.85e+08  -1.0 1.51e+05    -  1.00e+00 1.00e+00h  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  10  0.0000000e+00 2.01e-02 1.14e+06  -1.0 2.46e+00   4.4 1.00e+00 1.00e+00h  1
  11  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.90e+05    -  1.00e+00 6.10e-05h 15
  12  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.90e+05    -  1.00e+00 6.10e-05h 15
  13  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.90e+05    -  1.00e+00 6.10e-05h 15
  14  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.90e+05    -  1.00e+00 6.10e-05h 15
  15  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.90e+05    -  1.00e+00 6.10e-05h 15
  16  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.90e+05    -  1.00e+00 6.10e-05h 15
  17  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.90e+05    -  1.00e+00 6.10e-05h 15
  18  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.90e+05    -  1.00e+00 6.10e-05h 15
  19  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.90e+05    -  1.00e+00 6.10e-05h 15
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  20  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.90e+05    -  1.00e+00 6.10e-05h 15
  21  0.0000000e+00 2.61e+02 1.07e+09  -1.7 2.90e+05    -  1.00e+00 1.00e+00w  1
  22  0.0000000e+00 1.30e-02 1.05e+06  -1.7 3.41e+00   3.9 1.00e+00 1.00e+00h  1
  23  0.0000000e+00 1.30e-02 1.05e+06  -1.7 5.39e+05    -  1.00e+00 1.22e-04h 14
  24  0.0000000e+00 1.30e-02 1.05e+06  -1.7 5.40e+05    -  1.00e+00 6.10e-05h 15
  25  0.0000000e+00 1.30e-02 1.05e+06  -1.7 5.40e+05    -  1.00e+00 6.10e-05h 15
  26  0.0000000e+00 1.30e-02 1.05e+06  -1.7 5.40e+05    -  1.00e+00 6.10e-05h 15
  27  0.0000000e+00 1.30e-02 1.05e+06  -1.7 5.40e+05    -  1.00e+00 6.10e-05h 15
  28  0.0000000e+00 1.30e-02 1.05e+06  -1.7 5.40e+05    -  1.00e+00 6.10e-05h 15
  29  0.0000000e+00 1.30e-02 1.05e+06  -1.7 5.40e+05    -  1.00e+00 6.10e-05h 15
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  30  0.0000000e+00 1.30e-02 1.05e+06  -1.7 5.40e+05    -  1.00e+00 6.10e-05h 15
  31  0.0000000e+00 1.30e-02 1.05e+06  -1.7 5.40e+05    -  1.00e+00 6.10e-05h 15
  32  0.0000000e+00 1.30e-02 1.05e+06  -1.7 5.40e+05    -  1.00e+00 6.10e-05h 15
  33  0.0000000e+00 2.37e+02 3.79e+09  -1.7 5.40e+05    -  1.00e+00 1.00e+00w  1
  34  0.0000000e+00 1.47e-03 1.48e+04  -1.7 6.05e-01   4.4 1.00e+00 1.00e+00h  1
  35r 0.0000000e+00 1.47e-03 9.99e+02  -2.8 0.00e+00    -  0.00e+00 4.77e-07R 22
  36r 0.0000000e+00 1.47e-03 9.95e+02  -2.8 8.19e+01    -  9.57e-01 1.30e-03f  1
  37r 0.0000000e+00 3.17e-03 4.80e+02  -2.8 3.69e+01    -  1.00e+00 5.18e-01f  1
  38r 0.0000000e+00 8.16e-04 4.40e+01  -2.8 9.80e+00    -  1.00e+00 9.79e-01f  1
  39r 0.0000000e+00 7.49e-04 3.42e+01  -2.8 5.24e-01    -  1.00e+00 1.00e+00h  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  40r 0.0000000e+00 7.48e-04 8.27e-03  -2.8 2.04e-03    -  1.00e+00 1.00e+00h  1
  41r 0.0000000e+00 7.55e-04 5.63e-01  -4.2 8.88e-02    -  1.00e+00 1.00e+00f  1
  42r 0.0000000e+00 1.62e-02 4.91e+01  -4.2 5.05e+01    -  1.00e+00 9.78e-01f  1
  43r 0.0000000e+00 6.25e-04 3.92e-01  -4.2 1.14e+01    -  1.00e+00 1.00e+00h  1
  44r 0.0000000e+00 6.25e-04 3.44e-05  -4.2 3.76e-02    -  1.00e+00 1.00e+00h  1
  45r 0.0000000e+00 6.66e-04 2.96e-02  -6.4 1.82e-02    -  9.45e-01 1.00e+00f  1
  46r 0.0000000e+00 5.31e-02 1.61e+02  -6.4 3.56e+02    -  1.00e+00 1.00e+00f  1
  47r 0.0000000e+00 5.86e-03 1.78e+01  -6.4 1.07e+02    -  1.00e+00 1.00e+00h  1
  48r 0.0000000e+00 6.07e-04 7.17e-02  -6.4 6.06e+00    -  1.00e+00 1.00e+00h  1
  49r 0.0000000e+00 6.07e-04 1.25e-06  -6.4 1.51e-02    -  1.00e+00 1.00e+00h  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  50r 0.0000000e+00 6.43e-04 1.01e-03  -9.0 9.32e-03    -  9.45e-01 1.00e+00f  1
  51r 0.0000000e+00 6.97e-02 2.11e+02  -9.0 7.92e+03    -  1.00e+00 1.00e+00f  1
  52r 0.0000000e+00 3.63e-02 1.10e+02  -9.0 3.96e+02    -  1.00e+00 1.00e+00h  1
  53r 0.0000000e+00 2.57e-04 1.06e-01  -9.0 1.40e+02    -  1.00e+00 1.00e+00h  1
  54r 0.0000000e+00 2.57e-04 2.63e-06  -9.0 8.51e-02    -  1.00e+00 1.00e+00h  1

Number of Iterations....: 54

                                   (scaled)                 (unscaled)
Objective...............:   0.0000000000000000e+00    0.0000000000000000e+00
Dual infeasibility......:   1.6844540241781912e-04    1.6844540241781912e-04
Constraint violation....:   2.5744801496241365e-04    2.5744801496241365e-04
Complementarity.........:   9.0909090909090920e-10    9.0909090909090920e-10
Overall NLP error.......:   2.5744801496241365e-04    2.5744801496241365e-04


Number of objective function evaluations             = 443
Number of objective gradient evaluations             = 37
Number of equality constraint evaluations            = 443
Number of inequality constraint evaluations          = 0
Number of equality constraint Jacobian evaluations   = 57
Number of inequality constraint Jacobian evaluations = 0
Number of Lagrangian Hessian evaluations             = 55
Total CPU secs in IPOPT (w/o function evaluations)   =      0.280
Total CPU secs in NLP function evaluations           =      0.008

EXIT: Converged to a point of local infeasibility. Problem may be infeasible.
WARNING: Loading a SolverResults object with a warning status into
    model=unknown;
        message from solver=Ipopt 3.12.13\x3a Converged to a locally
        infeasible point. Problem may be infeasible.
degrees_of_freedom: 0
----------------------------------------------------------------------
fs.source1
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 720.0, (0.0, 'TOC'): 140.0, (0.0, 'nitrates'): 0.0}
         :    flow_vol : {0.0: 4.5833}
         :    pressure : {0.0: 200000.0}
         : temperature : {0.0: 300}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9280142727946, (0.0, 'TOC'): 139.98600277526563, (0.0, 'nitrates'): -6.184192140031203e-22}
         :    flow_vol : {0.0: 4.583299909134666}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1281.3506046896923, (0.0, 'TOC'): 249.15150646743643, (0.0, 'nitrates'): 1.1005705853839129e-17}
         :    flow_vol : {0.0: 0.00025753888029725883}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should skip: source1
----------------------------------------------------------------------
fs.swoi
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9280142727946, (0.0, 'TOC'): 139.98600277526563, (0.0, 'nitrates'): -6.1843527529351085e-22}
         :    flow_vol : {0.0: 4.583299909134666}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9352136249308, (0.0, 'TOC'): 139.9874026492921, (0.0, 'nitrates'): 1.7197522118270783e-22}
         :    flow_vol : {0.0: 4.5832540761355745}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -2.6600561900882947e-13, (0.0, 'TOC'): 1.30085086322681e-11, (0.0, 'nitrates'): -7.904095451916211e-17}
         :    flow_vol : {0.0: 4.583299909109287e-05}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should have a cost swoi
total_up_cost: 23.36602641172056
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.coag_floc
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9352136249308, (0.0, 'TOC'): 139.9874026492921, (0.0, 'nitrates'): 1.7195978301826649e-22}
         :    flow_vol : {0.0: 4.5832540761355745}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9568485639583, (0.0, 'TOC'): 76.99538519364555, (0.0, 'nitrates'): 3.505872659417516e-23}
         :    flow_vol : {0.0: 4.583116347849939}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 2.4354641102618194e-14, (0.0, 'TOC'): 1144161.1977068093, (0.0, 'nitrates'): 2.4865291978472063e-18}
         :    flow_vol : {0.0: 0.00025234121362327836}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should have a cost coag_floc
total_up_cost: 14.21137321157784
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.mixer1
inlet1 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9568485639583, (0.0, 'TOC'): 76.99538519364555, (0.0, 'nitrates'): 3.504390495303609e-23}
         :    flow_vol : {0.0: 4.583116347849939}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
inlet2 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 0.0001, (0.0, 'TOC'): 0.0001, (0.0, 'nitrates'): 0.0001}
         :    flow_vol : {0.0: 0.4812111083378385}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 300.0}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 651.5467412142722, (0.0, 'TOC'): 69.67931275453974, (0.0, 'nitrates'): 9.501974595854331e-06}
         :    flow_vol : {0.0: 5.064327456187778}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should skip: mixer1
----------------------------------------------------------------------
fs.tri_media_filtration
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 651.5467412142722, (0.0, 'TOC'): 69.67931275453974, (0.0, 'nitrates'): 9.501974595854331e-06}
         :    flow_vol : {0.0: 5.064327456187778}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 723.9408235714135, (0.0, 'TOC'): 77.42145861615526, (0.0, 'nitrates'): 1.0557749550949255e-05}
         :    flow_vol : {0.0: 4.557894710569}
         :    pressure : {0.0: 199999.99939999997}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -4.472756102227533e-25, (0.0, 'TOC'): -3.3496617972428515e-26, (0.0, 'nitrates'): -1.1843635000126307e-29}
         :    flow_vol : {0.0: 0.5064327456187773}
         :    pressure : {0.0: 199999.99939999997}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost tri_media_filtration
total_up_cost: 42.35423210804329
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.splitter1
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -2.4823824646207997e-24, (0.0, 'TOC'): -4.054487199500678e-24, (0.0, 'nitrates'): -1.500388014131775e-27}
         :    flow_vol : {0.0: 0.5064327456187773}
         :    pressure : {0.0: 199999.99939999997}
         : temperature : {0.0: 299.9999}
outlet1 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 0.0001, (0.0, 'TOC'): 0.0001, (0.0, 'nitrates'): 0.0001}
         :    flow_vol : {0.0: 0.4812111083378385}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 300.0}
outlet2 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 0.0001, (0.0, 'TOC'): 0.0001, (0.0, 'nitrates'): 0.0001}
         :    flow_vol : {0.0: 0.025421637280938887}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should skip: splitter1
----------------------------------------------------------------------
fs.SAA
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 723.9408235714135, (0.0, 'TOC'): 77.42145861615526, (0.0, 'nitrates'): 1.0557749550949255e-05}
         :    flow_vol : {0.0: 4.557894710569}
         :    pressure : {0.0: 199999.99939999997}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 723.948063052044, (0.0, 'TOC'): 77.42223283848365, (0.0, 'nitrates'): 1.0557855129500551e-05}
         :    flow_vol : {0.0: 4.557849131621895}
         :    pressure : {0.0: 199999.99929999997}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 4.482036126251499e-16, (0.0, 'TOC'): -3.9010201665118276e-16, (0.0, 'nitrates'): 2.1072046146131917e-19}
         :    flow_vol : {0.0: 4.5578947105436974e-05}
         :    pressure : {0.0: 199999.99929999997}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost SAA
total_up_cost: 0.7168792202834147
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.SBA
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 723.948063052044, (0.0, 'TOC'): 77.42223283848365, (0.0, 'nitrates'): 1.0557855129500551e-05}
         :    flow_vol : {0.0: 4.557849131621895}
         :    pressure : {0.0: 199999.99929999997}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 723.95530260507, (0.0, 'TOC'): 77.42300706855434, (0.0, 'nitrates'): 1.0557960709107642e-05}
         :    flow_vol : {0.0: 4.5578035531305785}
         :    pressure : {0.0: 199999.99919999996}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -4.603064093456815e-16, (0.0, 'TOC'): -8.089714639871366e-16, (0.0, 'nitrates'): -2.403689465709441e-19}
         :    flow_vol : {0.0: 4.5578491316252795e-05}
         :    pressure : {0.0: 199999.99919999996}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost SBA
total_up_cost: 1.2175901406857728
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.cf
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 723.95530260507, (0.0, 'TOC'): 77.42300706855434, (0.0, 'nitrates'): 1.0557960709107642e-05}
         :    flow_vol : {0.0: 4.5578035531305785}
         :    pressure : {0.0: 199999.99919999996}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 723.9625422304923, (0.0, 'TOC'): 77.4237813063674, (0.0, 'nitrates'): 1.0558066289770534e-05}
         :    flow_vol : {0.0: 4.557757975095047}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.2341802368805914e-12, (0.0, 'TOC'): -7.458082959764411e-13, (0.0, 'nitrates'): 4.575980003758323e-16}
         :    flow_vol : {0.0: 4.5578035531509514e-05}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost cf
total_up_cost: 13.380566057903298
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.ro
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 723.9625422304923, (0.0, 'TOC'): 77.4237813063674, (0.0, 'nitrates'): 1.0558066289770534e-05}
         :    flow_vol : {0.0: 4.557757975095047}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 343.7810954725801, (0.0, 'TOC'): 147.06193097298836, (0.0, 'nitrates'): 2.0054427589508283e-05}
         :    flow_vol : {0.0: 2.399525522182392}
         :    pressure : {0.0: 199999.99899999995}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1146.648747011028, (0.0, 'TOC'): 2.772664069343583e-24, (0.0, 'nitrates'): 1.261530888654115e-27}
         :    flow_vol : {0.0: 2.158232452912655}
         :    pressure : {0.0: 199999.99899999995}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost ro
total_up_cost: 330.1512751203201
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.lime
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 343.7810954725801, (0.0, 'TOC'): 147.06193097298836, (0.0, 'nitrates'): 2.0054427589508283e-05}
         :    flow_vol : {0.0: 2.399525522182392}
         :    pressure : {0.0: 199999.99899999995}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 343.78453331791326, (0.0, 'TOC'): 147.06340160700444, (0.0, 'nitrates'): 2.0054628135789643e-05}

In [49]:
unit_process_names = [
    "swoi", 
    "coag_floc",
    "tri_media_filtration",
    "SAA",
    "SBA",
    "cf",
    "ro",
    "lime",
    "co2",
    "chlor",
    "ammonia",
    "TWS_24_hr",
    "muni"
]


cost_variables = [
    "total_up_cost",
    "fixed_cap_inv_unadjusted",
    "fixed_cap_inv",
    "total_fixed_op_cost",
    "total_cap_investment",
    "land_cost",
    "working_cap",
    "catalysts_chemicals",#
    #"electricity",##
    "cap_replacement_parts", #
    "salaries",
    "benefits",
    "maintenance",
    "lab",
    "insurance_taxes",
    "base_employee_salary_cost",
    
    "cat_and_chem_cost",##
    "labor_and_other_fixed",#
    "consumer_price_index",#
    
    "electricity_cost", ##
    "other_var_cost"   ## 
]

In [50]:
def get_results_table(model, unit_process_names):
    data = {} 

    for variable in cost_variables:
        cost_list = []
        for node in unit_process_names:
            # call m.fs.'node'.costing.'variable'() for each node and variable
            costing_attr = getattr(m.fs, node).costing
            cost_method = getattr(costing_attr, variable) #m.fs.swoi.costing.total_up_cost
            
            #Todo: add unit (e.g. million $ or m3/s etc.)
            
            if type(cost_method) == int:
                cost_method = np.float64(cost_method)
                
            if type(cost_method) == np.float64:
                cost_value = cost_method
            else:
                cost_value = cost_method()
            # append ^ to a list
            cost_list.append(cost_value)            
            
        # assign 'variable': List['node' values] in a data dictionary
        data[variable] = cost_list
    
    
    df = pd.DataFrame(data = data, index = unit_process_names, columns = cost_variables)
    
    
    
    #print(df)
    return df

In [51]:
get_results_table(m, unit_process_names).to_csv("excel_comparison.csv")

In [52]:
get_results_table(m, unit_process_names).head()

,total_up_cost,fixed_cap_inv_unadjusted,fixed_cap_inv,total_fixed_op_cost,total_cap_investment,land_cost,working_cap,catalysts_chemicals,cap_replacement_parts,salaries,benefits,maintenance,lab,insurance_taxes,base_employee_salary_cost,cat_and_chem_cost,labor_and_other_fixed,consumer_price_index,electricity_cost,other_var_cost
swoi,23.366026,20.308784,20.980305,1.305235,22.060791,0.031470,1.049015,1.045314,1.033066,0.543417,0.489075,0.167842,0.062941,0.041961,0.020309,0.000000,1.032158,1.034582,1.984638,-1.984638
coag_floc,14.211373,11.765810,11.765810,0.732488,12.371749,0.017649,0.588291,1.000000,1.000000,0.305017,0.274515,0.094126,0.035297,0.023532,0.011766,1.008727,1.000000,1.000000,0.098409,0.000000
tri_media_filtration,42.354232,11.748013,12.751178,24.703293,13.407863,0.019127,0.637559,1.094885,1.085390,12.914488,11.623039,0.102009,0.038254,0.025502,0.011748,0.000000,1.144289,1.104141,4.243076,0.000000
SAA,0.716879,0.351380,0.418187,0.027077,0.439723,0.000627,0.020909,1.449793,1.190128,0.011390,0.010251,0.003345,0.001255,0.000836,0.000351,0.250068,1.255215,1.260734,0.000011,0.000000
SBA,1.217590,0.351816,0.418706,0.027110,0.440270,0.000628,0.020935,1.449793,1.190128,0.011404,0.010263,0.003350,0.001256,0.000837,0.000352,0.750197,1.255215,1.260734,0.000013,0.000000

In [10]:
variables = cost_variables + ["inlet_flow", "outlet_flow", "waste_flow"]

In [11]:
def get_results_table(model, unit_process_names, scenario = None, case_study = None):
    # could make a dictionary if betteR?
    value_list = [] 
    up_list = []
    scenario_list = []
    unit_list = []
    variable_list = []
    case_study_list = []
    
    for node in unit_process_names:
        
        for variable in variables:
            
            if variable == "inlet_flow":
                value_list.append(getattr(m.fs, node).inlet.flow_vol.extract_values()[0])
                variable_list.append(variable)
                unit_list.append("m3/s")
            elif variable == "outlet_flow":
                value_list.append(getattr(m.fs, node).outlet.flow_vol.extract_values()[0])
                variable_list.append(variable)
                unit_list.append("m3/s")
            elif variable == "waste_flow":
                value_list.append(getattr(m.fs, node).waste.flow_vol.extract_values()[0])
                variable_list.append(variable)
                unit_list.append("m3/s")
            else:
                # call m.fs.'node'.costing.'variable'() for each node and variable
                costing_attr = getattr(m.fs, node).costing
                cost_method = getattr(costing_attr, variable) #m.fs.swoi.costing.total_up_cost            
            
                if type(cost_method) == int:
                    cost_method = np.float64(cost_method)

                if type(cost_method) == np.float64:
                    cost_value = cost_method
                else:
                    cost_value = cost_method()
                # append ^ to a list
                value_list.append(cost_value)            
                variable_list.append(variable)
                unit_list.append("$MM")        
        
            up_list.append(node)
            scenario_list.append(scenario)
            case_study_list.append(case_study)
    
    df = pd.DataFrame()
    df["Case_Study"] = case_study_list
    df["Scenario"] = scenario_list
    df["Unit_Process"] = up_list
    df["Variable"] = variable_list
    df["Unit"] = unit_list
    df["Value"] = value_list
    
    #print(df)
    return df

In [12]:
t1 = get_results_table(m, unit_process_names, scenario = "Baseline", case_study = "Carlsbad")

In [13]:
t1.head()

  Case_Study  Scenario Unit_Process                  Variable Unit      Value
0   Carlsbad  Baseline         swoi             total_up_cost  $MM  23.366026
1   Carlsbad  Baseline         swoi  fixed_cap_inv_unadjusted  $MM  20.308784
2   Carlsbad  Baseline         swoi             fixed_cap_inv  $MM  20.980305
3   Carlsbad  Baseline         swoi       total_fixed_op_cost  $MM   1.305235
4   Carlsbad  Baseline         swoi      total_cap_investment  $MM  22.060791

In [14]:
t1.to_csv("results_v2.csv")

In [15]:
m.fs.tri_media_filtration.inlet.flow_vol.extract_values()[0]

5.064327456187778

In [16]:
m.fs.tri_media_filtration.costing.salaries()

12.914488212339975

In [17]:
m.fs.chlor.costing.catalysts_chemicals

1.0948846182937026

In [18]:
m.fs.chlor.costing.applied_cl2_dose * 3.78541178 * (0.34) * 1.0948846182937026 * 365 * 2.399478 * 22.824465227271

267605.01864422136

In [31]:
t1[t1.Unit_Process == "swoi"]

,Case_Study,Scenario,Unit_Process,Variable,Unit,Value
0,Carlsbad,Baseline,swoi,total_up_cost,$MM,23.366026
1,Carlsbad,Baseline,swoi,fixed_cap_inv_unadjusted,$MM,20.308784
2,Carlsbad,Baseline,swoi,fixed_cap_inv,$MM,20.980305
3,Carlsbad,Baseline,swoi,total_fixed_op_cost,$MM,1.305235
4,Carlsbad,Baseline,swoi,total_cap_investment,$MM,22.060791
5,Carlsbad,Baseline,swoi,land_cost,$MM,0.031470
6,Carlsbad,Baseline,swoi,working_cap,$MM,1.049015
7,Carlsbad,Baseline,swoi,catalysts_chemicals,$MM,1.045314
8,Carlsbad,Baseline,swoi,cap_replacement_parts,$MM,1.033066
9,Carlsbad,Baseline,swoi,salaries,$MM,0.543417
10,Carlsbad,Baseline,swoi,benefits,$MM,0.489075
11,Carlsbad,Baseline,swoi,maintenance,$MM,0.167842
12,Carlsbad,Baseline,swoi,lab,$MM,0.062941
13,Carlsbad,Baseline,swoi,insurance_taxes,$MM,0.041961
14,Carlsbad,Baseline,swoi,base_employee_salary_cost,$MM,0.020309
15,Carlsbad,Baseline,swoi,cat_and_chem_cost,$MM,0.000000
16,Carlsbad,Baseline,swoi,labor_and_other_fixed,$MM,1.032158
17,Carlsbad,Baseline,swoi,consumer_price_index,$MM,1.034582
18,Carlsbad,Baseline,swoi,electricity_cost,$MM,1.984638
19,Carlsbad,Baseline,swoi,other_var_cost,$MM,-1.984638
20,Carlsbad,Baseline,swoi,inlet_flow,m3/s,4.583300
21,Carlsbad,Baseline,swoi,outlet_flow,m3/s,4.583254
22,Carlsbad,Baseline,swoi,waste_flow,m3/s,0.000046

In [48]:
results_table = get_results_table(m, unit_process_name)

In [49]:
results_table.total_up_cost.sum()

462.8602092987865

In [50]:
results_table

,total_up_cost,fixed_cap_inv_unadjusted,fixed_cap_inv,total_fixed_op_cost,total_cap_investment,land_cost,working_cap,catalysts_chemicals,cap_replacement_parts,salaries,benefits,maintenance,lab,insurance_taxes,base_employee_salary_cost,cat_and_chem_cost,labor_and_other_fixed,consumer_price_index,electricity_cost,other_var_cost
swoi,23.366026,20.308784,20.980305,1.305235,22.060791,0.031470,1.049015,1.045314,1.033066,0.543417,0.489075,0.167842,0.062941,0.041961,0.020309,0.000000,1.032158,1.034582,1.984638,-1.984638
coag_floc,15.121692,11.765810,11.765810,0.732488,12.371749,0.017649,0.588291,1.000000,1.000000,0.305017,0.274515,0.094126,0.035297,0.023532,0.011766,1.008727,1.000000,1.000000,0.098409,0.910319
tri_media_filtration,14.283696,11.748013,12.751178,0.875833,13.407863,0.019127,0.637559,1.094885,1.085390,0.373720,0.336348,0.102009,0.038254,0.025502,0.011748,0.000000,1.144289,1.104141,4.243076,-4.243076
SAA,0.966936,0.351380,0.418187,0.027077,0.439723,0.000627,0.020909,1.449793,1.190128,0.011390,0.010251,0.003345,0.001255,0.000836,0.000351,0.250068,1.255215,1.260734,0.000011,0.250057
SBA,1.967774,0.351816,0.418706,0.027110,0.440270,0.000628,0.020935,1.449793,1.190128,0.011404,0.010263,0.003350,0.001256,0.000837,0.000352,0.750197,1.255215,1.260734,0.000013,0.750183
cf,13.380566,11.044252,11.987322,0.775897,12.604669,0.017981,0.599366,1.094885,1.085390,0.326348,0.293714,0.095899,0.035962,0.023975,0.011044,0.000000,1.144289,1.104141,0.000000,-0.000000
ro,296.404263,223.115886,265.536470,17.192665,279.211598,0.398305,13.276824,1.449793,1.190128,7.231943,6.508748,2.124292,0.796609,0.531073,0.223116,0.000000,1.255215,1.260734,33.747012,-33.747012
lime,59.544991,52.909213,52.909213,2.344555,55.634037,0.079364,2.645461,1.000000,1.000000,0.871966,0.784769,0.423274,0.158728,0.105818,0.052909,0.783200,1.000000,1.000000,0.101469,0.681730
co2,8.515704,7.646860,7.771228,0.344258,8.171446,0.011657,0.388561,1.022155,1.016264,0.128017,0.115215,0.062170,0.023314,0.015542,0.007647,0.000000,1.015824,1.016997,0.101468,-0.101468
chlor,10.362694,8.699168,9.441991,0.434440,9.928254,0.014163,0.472100,1.094885,1.085390,0.164050,0.147645,0.075536,0.028326,0.018884,0.008699,0.000000,1.144289,1.104141,0.101467,-0.101467
ammonia,0.870994,0.666818,0.793598,0.036525,0.834469,0.001190,0.039680,1.449793,1.190128,0.013794,0.012414,0.006349,0.002381,0.001587,0.000667,0.000000,1.255215,1.260734,0.000012,-0.000012
TWS_24_hr,13.271536,9.709731,12.152581,0.493097,12.778439,0.018229,0.607629,1.497678,1.251588,0.201864,0.181677,0.048793,0.036458,0.024305,0.009759,0.000000,1.255215,1.296380,0.000000,-0.000000
muni,4.803337,4.383360,4.383360,0.194234,4.609103,0.006575,0.219168,1.000000,1.000000,0.072237,0.065013,0.035067,0.013150,0.008767,0.004383,0.000000,1.000000,1.000000,3.116936,-3.116936

In [51]:
#results_table = pd.read_csv('./cost_results.csv',index_col=0)
results_table.index.names=['Unit_Process']
results_table = results_table.reset_index()
df = pd.melt(results_table, id_vars=['Unit_Process'], value_vars=results_table.columns.to_list()[1:])

In [52]:
df["Case_Study"] = "Carlsbad"
df["Unit"] = "Million $"
df["Scenario"] = "A"

In [53]:
df

             Unit_Process        variable      value Case_Study       Unit
0                    swoi   total_up_cost  23.366026   Carlsbad  Million $
1               coag_floc   total_up_cost  15.121692   Carlsbad  Million $
2    tri_media_filtration   total_up_cost  14.283696   Carlsbad  Million $
3                     SAA   total_up_cost   0.966936   Carlsbad  Million $
4                     SBA   total_up_cost   1.967774   Carlsbad  Million $
..                    ...             ...        ...        ...        ...
255                   co2  other_var_cost  -0.101468   Carlsbad  Million $
256                 chlor  other_var_cost  -0.101467   Carlsbad  Million $
257               ammonia  other_var_cost  -0.000012   Carlsbad  Million $
258             TWS_24_hr  other_var_cost  -0.000000   Carlsbad  Million $
259                  muni  other_var_cost  -3.116936   Carlsbad  Million $

[260 rows x 5 columns]

In [60]:
m.fs.tri_media_filtration.inlet.flow_vol.display()

flow_vol_in : Volumetric flowrate of water into unit
    Size=1, Index=fs.time
    Key : Lower : Value             : Upper : Fixed : Stale : Domain
    0.0 :  None : 5.064327456187778 :  None : False : False :  Reals

In [64]:
m.fs.tri_media_filtration.inlet.flow_vol.extract_values()[0]

5.064327456187778

In [14]:
cost_range_list = []; #results will be inputted in this array
#up_name = "tri_media_filtration" # which unit process it applies to. TODO hould be user input.

#for value_change in pct_to_target1: # cycles through each value from MC range
for value_change in [0.4, 0.8]: #, 0.9]:

    # create and build model
    m = wt.watertap_setup(dynamic = False)
    m = wt.case_study_trains.get_case_study(name = 'carlsbad', flow = 4.5833, m = m)

    m.fs.tri_media_filtration.water_recovery.fix(value_change)

    # set variable to MC value
    wt.run_water_tap(m)
    results_table = get_results_table(m, unit_process_name)
    cost_range_list.append(results_table.total_up_cost.sum())

/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)

Ipopt 3.12.13:

******************************************************************************
This program contains Ipopt, a library for large-scale nonlinear optimization.
 Ipopt is released as open source code under the Eclipse Public License (EPL).
         For more information visit http://projects.coin-or.org/Ipopt
******************************************************************************

This is Ipopt version 3.12.13, running with linear solver mumps.
NOTE: Other linear solvers might be more efficient (see Ipopt documentation).

Number of nonzeros in equality constraint Jacobian...:      755
Number of nonzeros in inequality constraint Jacobian.:        0
Number of nonzeros in Lagrangian Hessian.............:      133

Total number of variables............................:      283
                     variables with only lower bounds:        0
                variables with lower and upper bounds:        1
                     variables with only upper bounds:        0
Total number of equality constraints.................:      283
Total number of inequality constraints...............:        0
        inequality constraints with only lower bounds:        0
   inequality constraints with lower and upper bounds:        0
        inequality constraints with only upper bounds:        0

iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
   0  0.0000000e+00 1.00e+05 0.00e+00  -1.0 0.00e+00    -  0.00e+00 0.00e+00   0
   1  0.0000000e+00 2.11e+04 7.76e-01  -1.0 1.00e+05    -  5.78e-01 1.00e+00h  1
   2  0.0000000e+00 1.13e+04 2.66e+09  -1.0 6.98e+04  -4.0 1.00e+00 5.00e-01h  2
   3  0.0000000e+00 1.25e+03 1.80e+04  -1.0 1.86e+03    -  1.00e+00 1.00e+00h  1
   4  0.0000000e+00 9.61e+00 5.00e+07  -1.0 4.26e+00   5.8 1.00e+00 1.00e+00h  1
   5  0.0000000e+00 4.60e+02 1.01e+08  -1.0 5.64e+04    -  1.00e+00 1.00e+00h  1
   6  0.0000000e+00 4.60e+02 2.25e+22  -1.0 7.93e+14    -  1.00e+00 3.05e-05h 16
   7  0.0000000e+00 8.27e-02 4.80e+21  -1.0 7.48e+09    -  1.00e+00 1.00e+00h  1
   8  0.0000000e+00 4.11e-02 2.40e+21  -1.0 1.34e+10    -  1.00e+00 5.00e-01h  2
   9  0.0000000e+00 3.99e-02 2.25e+21  -1.0 2.67e+10    -  1.00e+00 6.25e-02h  5
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  10  0.0000000e+00 3.87e-02 2.11e+21  -1.0 2.85e+10    -  1.00e+00 6.25e-02h  5
  11  0.0000000e+00 3.75e-02 1.98e+21  -1.0 3.04e+10    -  1.00e+00 6.25e-02h  5
  12  0.0000000e+00 3.65e-02 1.85e+21  -1.0 3.24e+10    -  1.00e+00 6.25e-02h  5
  13  0.0000000e+00 3.55e-02 1.74e+21  -1.0 3.46e+10    -  1.00e+00 6.25e-02h  5
  14  0.0000000e+00 3.46e-02 1.63e+21  -1.0 3.69e+10    -  1.00e+00 6.25e-02h  5
  15  0.0000000e+00 3.37e-02 1.53e+21  -1.0 3.94e+10    -  1.00e+00 6.25e-02h  5
  16  0.0000000e+00 3.29e-02 1.43e+21  -1.0 4.20e+10    -  1.00e+00 6.25e-02h  5
  17  0.0000000e+00 3.21e-02 1.34e+21  -1.0 4.48e+10    -  1.00e+00 6.25e-02h  5
  18  0.0000000e+00 3.30e-01 6.35e+16  -1.0 4.78e+10    -  1.00e+00 1.00e+00w  1
  19  0.0000000e+00 2.44e-11 2.96e+27  -1.7 1.03e+16    -  1.00e+00 1.00e+00h  1
Cannot recompute multipliers for feasibility problem.  Error in eq_mult_calculator

Number of Iterations....: 19

                                   (scaled)                 (unscaled)
Objective...............:   0.0000000000000000e+00    0.0000000000000000e+00
Dual infeasibility......:   2.9642947524911724e+27    2.9642947524911724e+27
Constraint violation....:   2.4354085330986937e-11    2.4354085330986937e-11
Complementarity.........:   0.0000000000000000e+00    0.0000000000000000e+00
Overall NLP error.......:   2.4354085330986937e-11    2.9642947524911724e+27


Number of objective function evaluations             = 80
Number of objective gradient evaluations             = 20
Number of equality constraint evaluations            = 85
Number of inequality constraint evaluations          = 0
Number of equality constraint Jacobian evaluations   = 20
Number of inequality constraint Jacobian evaluations = 0
Number of Lagrangian Hessian evaluations             = 19
Total CPU secs in IPOPT (w/o function evaluations)   =      0.083
Total CPU secs in NLP function evaluations           =      0.002

EXIT: Optimal Solution Found.
degrees_of_freedom: 0
----------------------------------------------------------------------
fs.source1
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 720.0, (0.0, 'TOC'): 140.0, (0.0, 'nitrates'): 0.0}
         :    flow_vol : {0.0: 4.5833}
         :    pressure : {0.0: 200000.0}
         : temperature : {0.0: 300}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9279999999999, (0.0, 'TOC'): 139.986, (0.0, 'nitrates'): -1.0947644252537633e-47}
         :    flow_vol : {0.0: 4.5833}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.0321698551383952e+16, (0.0, 'TOC'): 2006996940546879.8, (0.0, 'nitrates'): 0.0}
         :    flow_vol : {0.0: 3.197124953390092e-17}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should skip: source1
----------------------------------------------------------------------
fs.swoi
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9279999999999, (0.0, 'TOC'): 139.986, (0.0, 'nitrates'): -1.0947644252537633e-47}
         :    flow_vol : {0.0: 4.5833}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9351993519934, (0.0, 'TOC'): 139.98739987399873, (0.0, 'nitrates'): -1.8513955310659483e-41}
         :    flow_vol : {0.0: 4.583254167000001}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 7.507244108342335e-28, (0.0, 'TOC'): 2.904381380277132e-23, (0.0, 'nitrates'): 7.011107221298684e-31}
         :    flow_vol : {0.0: 4.583299999971757e-05}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should have a cost swoi
total_up_cost: 23.366026837777117
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.coag_floc
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9351993519934, (0.0, 'TOC'): 139.98739987399873, (0.0, 'nitrates'): -1.8513955310659483e-41}
         :    flow_vol : {0.0: 4.583254167000001}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.942398775981, (0.0, 'TOC'): 76.99383986909798, (0.0, 'nitrates'): -1.8508350116802184e-41}
         :    flow_vol : {0.0: 4.583208334458331}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 4.001986127939457e-30, (0.0, 'TOC'): 6299432.994404859, (0.0, 'nitrates'): -1.4840983521116012e-35}
         :    flow_vol : {0.0: 4.5832541669454934e-05}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should have a cost coag_floc
total_up_cost: 15.12169237570296
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.mixer1
inlet1 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.942398775981, (0.0, 'TOC'): 76.99383986909798, (0.0, 'nitrates'): -1.8508350116802184e-41}
         :    flow_vol : {0.0: 4.583208334458331}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
inlet2 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 0.0001, (0.0, 'TOC'): 0.0001, (0.0, 'nitrates'): 0.0001}
         :    flow_vol : {0.0: 6.075648257305228}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 300.0}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 309.56853406908283, (0.0, 'TOC'): 33.106685798503655, (0.0, 'nitrates'): 5.7000938186935336e-05}
         :    flow_vol : {0.0: 10.65885659176356}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should skip: mixer1
----------------------------------------------------------------------
fs.tri_media_filtration
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 309.56853406908283, (0.0, 'TOC'): 33.106685798503655, (0.0, 'nitrates'): 5.7000938186935336e-05}
         :    flow_vol : {0.0: 10.65885659176356}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 773.921335172707, (0.0, 'TOC'): 82.76671449625914, (0.0, 'nitrates'): 0.0001425023454673383}
         :    flow_vol : {0.0: 4.263542636705424}
         :    pressure : {0.0: 199999.99939999997}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.793662034335766e-43, (0.0, 'TOC'): 2.2420775429197073e-44, (0.0, 'nitrates'): -2.7369110631344083e-48}
         :    flow_vol : {0.0: 6.3953139550581355}
         :    pressure : {0.0: 199999.99939999997}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost tri_media_filtration
total_up_cost: 22.845818644506974
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.splitter1
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.793662034335766e-43, (0.0, 'TOC'): 2.2420775429197073e-44, (0.0, 'nitrates'): -2.7369110631344083e-48}
         :    flow_vol : {0.0: 6.3953139550581355}
         :    pressure : {0.0: 199999.99939999997}
         : temperature : {0.0: 299.9999}
outlet1 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 0.0001, (0.0, 'TOC'): 0.0001, (0.0, 'nitrates'): 0.0001}
         :    flow_vol : {0.0: 6.075648257305228}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 300.0}
outlet2 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 0.0001, (0.0, 'TOC'): 0.0001, (0.0, 'nitrates'): 0.0001}
         :    flow_vol : {0.0: 0.319865697752907}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should skip: splitter1
----------------------------------------------------------------------
fs.SAA
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 773.921335172707, (0.0, 'TOC'): 82.76671449625914, (0.0, 'nitrates'): 0.0001425023454673383}
         :    flow_vol : {0.0: 4.263542636705424}
         :    pressure : {0.0: 199999.99939999997}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 773.9290744634517, (0.0, 'TOC'): 82.76754217168086, (0.0, 'nitrates'): 0.00014250377050504338}
         :    flow_vol : {0.0: 4.2635000012790565}
         :    pressure : {0.0: 199999.99929999997}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 9.552147163855121e-40, (0.0, 'TOC'): 2.279026980827024e-39, (0.0, 'nitrates'): -2.0603291320967785e-41}
         :    flow_vol : {0.0: 4.263542636717687e-05}
         :    pressure : {0.0: 199999.99929999997}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost SAA
total_up_cost: 0.9148246374453335
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.SBA
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 773.9290744634517, (0.0, 'TOC'): 82.76754217168086, (0.0, 'nitrates'): 0.00014250377050504338}
         :    flow_vol : {0.0: 4.2635000012790565}
         :    pressure : {0.0: 199999.99929999997}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 773.9368138315899, (0.0, 'TOC'): 82.7683698553794, (0.0, 'nitrates'): 0.00014250519555699892}
         :    flow_vol : {0.0: 4.263457366279044}
         :    pressure : {0.0: 199999.99919999996}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 5.908771156610597e-40, (0.0, 'TOC'): -9.8319584412115e-40, (0.0, 'nitrates'): 9.929600918205654e-42}
         :    flow_vol : {0.0: 4.2635000012225526e-05}
         :    pressure : {0.0: 199999.99919999996}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost SBA
total_up_cost: 1.8510400235028612
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.cf
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 773.9368138315899, (0.0, 'TOC'): 82.7683698553794, (0.0, 'nitrates'): 0.00014250519555699892}
         :    flow_vol : {0.0: 4.263457366279044}
         :    pressure : {0.0: 199999.99919999996}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 773.9445532771226, (0.0, 'TOC'): 82.76919754735488, (0.0, 'nitrates'): 0.00014250662062320515}
         :    flow_vol : {0.0: 4.263414731705382}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -3.2307440562455815e-39, (0.0, 'TOC'): 2.550228680418592e-39, (0.0, 'nitrates'): -2.7759722578274626e-41}
         :    flow_vol : {0.0: 4.263457366260325e-05}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost cf
total_up_cost: 12.839808598824911
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.ro
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 773.9445532771226, (0.0, 'TOC'): 82.76919754735488, (0.0, 'nitrates'): 0.00014250662062320515}
         :    flow_vol : {0.0: 4.263414731705382}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 367.51556999192985, (0.0, 'TOC'): 157.21523556480815, (0.0, 'nitrates'): 0.00027068296654687016}
         :    flow_vol : {0.0: 2.2445624616919506}
         :    pressure : {0.0: 199999.99899999995}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1225.8128017743245, (0.0, 'TOC'): -7.174648137343064e-43, (0.0, 'nitrates'): 2.802596928649634e-45}
         :    flow_vol : {0.0: 2.018852270013431}
         :    pressure : {0.0: 199999.99899999995}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost ro
total_up_cost: 281.9392200896194
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.lime
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 367.51556999192985, (0.0, 'TOC'): 157.21523556480815, (0.0, 'nitrates'): 0.00027068296654687016}
         :    flow_vol : {0.0: 2.2445624616919506}
         :    pressure : {0.0: 199999.99899999995}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 367.51924518438165, (0.0, 'TOC'): 157.21680773288548, (0.0, 'nitrates'): 0.0002706856734036042}
         :    flow_vol : {0.0: 2.244540016067334}
         :    pressure : {0.0: 199999.99889999998}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -1.200946415089512e-39, (0.0, 'TOC'): -2.485387797877354e-39, (0.0, 'nitrates'): -4.4696166142720446e-42}
         :    flow_vol : {0.0: 2.2445624616729273e-05}
         :    pressure : {0.0: 199999.99889999998}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost lime
total_up_cost: 56.61173447954997
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.co2
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 367.51924518438165, (0.0, 'TOC'): 157.21680773288548, (0.0, 'nitrates'): 0.0002706856734036042}
         :    flow_vol : {0.0: 2.244540016067334}
         :    pressure : {0.0: 199999.99889999998}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 367.5229204135858, (0.0, 'TOC'): 157.21837991668465, (0.0, 'nitrates'): 0.00027068838028740703}
         :    flow_vol : {0.0: 2.244517570667173}
         :    pressure : {0.0: 199999.99879999997}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -5.9789481837039835e-40, (0.0, 'TOC'): -1.0292032753018624e-39, (0.0, 'nitrates'): -1.7537250281025086e-42}
         :    flow_vol : {0.0: 2.2445400160719938e-05}
         :    pressure : {0.0: 199999.99879999997}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost co2
total_up_cost: 8.116302674911518
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.chlor
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 367.5229204135858, (0.0, 'TOC'): 157.21837991668465, (0.0, 'nitrates'): 0.00027068838028740703}
         :    flow_vol : {0.0: 2.244517570667173}
         :    pressure : {0.0: 199999.99879999997}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 367.52659567954254, (0.0, 'TOC'): 157.2199521162058, (0.0, 'nitrates'): 0.000270691087198279}
         :    flow_vol : {0.0: 2.2444951254914667}
         :    pressure : {0.0: 199999.99869999997}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -2.474805191874773e-40, (0.0, 'TOC'): -3.736646433029984e-40, (0.0, 'nitrates'): -6.0706876909171685e-43}
         :    flow_vol : {0.0: 2.244517570648696e-05}
         :    pressure : {0.0: 199999.99869999997}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost chlor
total_up_cost: 10.133116903586902
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.ammonia
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 367.52659567954254, (0.0, 'TOC'): 157.2199521162058, (0.0, 'nitrates'): 0.000270691087198279}

/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)

Ipopt 3.12.13:

******************************************************************************
This program contains Ipopt, a library for large-scale nonlinear optimization.
 Ipopt is released as open source code under the Eclipse Public License (EPL).
         For more information visit http://projects.coin-or.org/Ipopt
******************************************************************************

This is Ipopt version 3.12.13, running with linear solver mumps.
NOTE: Other linear solvers might be more efficient (see Ipopt documentation).

Number of nonzeros in equality constraint Jacobian...:      755
Number of nonzeros in inequality constraint Jacobian.:        0
Number of nonzeros in Lagrangian Hessian.............:      133

Total number of variables............................:      283
                     variables with only lower bounds:        0
                variables with lower and upper bounds:        1
                     variables with only upper bounds:        0
Total number of equality constraints.................:      283
Total number of inequality constraints...............:        0
        inequality constraints with only lower bounds:        0
   inequality constraints with lower and upper bounds:        0
        inequality constraints with only upper bounds:        0

iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
   0  0.0000000e+00 1.00e+05 0.00e+00  -1.0 0.00e+00    -  0.00e+00 0.00e+00   0
   1  0.0000000e+00 1.18e+04 7.76e-01  -1.0 1.00e+05    -  5.78e-01 1.00e+00h  1
   2  0.0000000e+00 7.95e+03 2.66e+09  -1.0 6.98e+04  -4.0 1.00e+00 5.00e-01h  2
   3  0.0000000e+00 4.53e+02 1.80e+04  -1.0 1.60e+03    -  1.00e+00 1.00e+00h  1
   4  0.0000000e+00 5.44e-01 4.97e+07  -1.0 3.56e+00   5.8 1.00e+00 1.00e+00h  1
   5  0.0000000e+00 2.86e+02 1.86e+07  -1.0 3.87e+04    -  1.00e+00 1.00e+00h  1
   6  0.0000000e+00 5.99e-01 1.27e+06  -1.0 1.42e+00   5.4 1.00e+00 1.00e+00h  1
   7  0.0000000e+00 2.82e+02 8.02e+07  -1.0 8.03e+04    -  1.00e+00 1.00e+00h  1
   8  0.0000000e+00 5.56e-02 1.28e+06  -1.0 1.83e+00   4.9 1.00e+00 1.00e+00h  1
   9  0.0000000e+00 2.75e+02 2.91e+08  -1.0 1.52e+05    -  1.00e+00 1.00e+00h  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  10  0.0000000e+00 2.01e-02 1.14e+06  -1.0 2.46e+00   4.4 1.00e+00 1.00e+00h  1
  11  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.93e+05    -  1.00e+00 6.10e-05h 15
  12  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.93e+05    -  1.00e+00 6.10e-05h 15
  13  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.93e+05    -  1.00e+00 6.10e-05h 15
  14  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.93e+05    -  1.00e+00 6.10e-05h 15
  15  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.93e+05    -  1.00e+00 6.10e-05h 15
  16  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.93e+05    -  1.00e+00 6.10e-05h 15
  17  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.93e+05    -  1.00e+00 6.10e-05h 15
  18  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.93e+05    -  1.00e+00 6.10e-05h 15
  19  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.93e+05    -  1.00e+00 6.10e-05h 15
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  20  0.0000000e+00 2.01e-02 1.14e+06  -1.7 2.93e+05    -  1.00e+00 6.10e-05h 15
  21  0.0000000e+00 2.61e+02 1.09e+09  -1.7 2.93e+05    -  1.00e+00 1.00e+00w  1
  22  0.0000000e+00 1.30e-02 1.05e+06  -1.7 3.41e+00   3.9 1.00e+00 1.00e+00h  1
  23  0.0000000e+00 1.30e-02 1.05e+06  -1.7 5.44e+05    -  1.00e+00 1.22e-04h 14
  24  0.0000000e+00 1.30e-02 1.05e+06  -1.7 5.44e+05    -  1.00e+00 6.10e-05h 15
  25  0.0000000e+00 1.30e-02 1.05e+06  -1.7 5.44e+05    -  1.00e+00 6.10e-05h 15
  26  0.0000000e+00 1.30e-02 1.04e+06  -1.7 5.44e+05    -  1.00e+00 6.10e-05h 15
  27  0.0000000e+00 1.30e-02 1.04e+06  -1.7 5.44e+05    -  1.00e+00 6.10e-05h 15
  28  0.0000000e+00 1.30e-02 1.04e+06  -1.7 5.44e+05    -  1.00e+00 6.10e-05h 15
  29  0.0000000e+00 1.30e-02 1.04e+06  -1.7 5.44e+05    -  1.00e+00 6.10e-05h 15
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  30  0.0000000e+00 1.30e-02 1.04e+06  -1.7 5.44e+05    -  1.00e+00 6.10e-05h 15
  31  0.0000000e+00 1.30e-02 1.04e+06  -1.7 5.44e+05    -  1.00e+00 6.10e-05h 15
  32  0.0000000e+00 1.30e-02 1.04e+06  -1.7 5.44e+05    -  1.00e+00 6.10e-05h 15
  33  0.0000000e+00 2.36e+02 3.85e+09  -1.7 5.44e+05    -  1.00e+00 1.00e+00w  1
  34  0.0000000e+00 9.04e-03 1.02e+06  -1.7 4.85e+00   3.5 1.00e+00 1.00e+00h  1
  35  0.0000000e+00 9.04e-03 1.02e+06  -2.5 9.37e+05    -  1.00e+00 1.22e-04h 14
  36  0.0000000e+00 9.04e-03 1.02e+06  -2.5 9.38e+05    -  1.00e+00 1.22e-04h 14
  37  0.0000000e+00 9.04e-03 1.02e+06  -2.5 9.38e+05    -  1.00e+00 6.10e-05h 15
  38  0.0000000e+00 9.04e-03 1.02e+06  -2.5 9.38e+05    -  1.00e+00 3.05e-05h 16
  39  0.0000000e+00 9.04e-03 1.02e+06  -2.5 9.38e+05    -  1.00e+00 3.05e-05h 16
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  40  0.0000000e+00 9.04e-03 1.02e+06  -2.5 9.38e+05    -  1.00e+00 3.05e-05h 16
  41  0.0000000e+00 9.04e-03 1.02e+06  -2.5 9.38e+05    -  1.00e+00 3.05e-05h 16
  42  0.0000000e+00 9.04e-03 1.02e+06  -2.5 9.38e+05    -  1.00e+00 3.05e-05h 16
  43  0.0000000e+00 9.04e-03 1.02e+06  -2.5 9.38e+05    -  1.00e+00 3.05e-05h 16
  44  0.0000000e+00 9.04e-03 1.02e+06  -2.5 9.38e+05    -  1.00e+00 3.05e-05h 16
  45  0.0000000e+00 1.93e+02 1.20e+10  -2.5 9.38e+05    -  1.00e+00 1.00e+00w  1
  46  0.0000000e+00 8.38e-04 1.55e+04  -2.5 8.74e-01   3.9 1.00e+00 1.00e+00h  1
  47  0.0000000e+00 8.38e-04 1.55e+04  -3.8 1.40e+06    -  1.00e+00 1.22e-04h 14
  48  0.0000000e+00 8.38e-04 1.55e+04  -3.8 1.39e+06    -  1.00e+00 1.53e-05h 17
  49  0.0000000e+00 8.38e-04 1.55e+04  -3.8 1.39e+06    -  1.00e+00 3.05e-05h 16
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  50r 0.0000000e+00 8.38e-04 9.99e+02  -3.1 0.00e+00    -  0.00e+00 4.77e-07R 22
  51r 0.0000000e+00 6.07e-04 9.94e+02  -3.1 1.31e+02    -  9.01e-01 9.91e-04f  1
  52r 0.0000000e+00 5.53e-04 5.40e+02  -3.1 2.42e+01    -  1.00e+00 4.58e-01f  1
  53r 0.0000000e+00 4.51e-04 1.61e+02  -3.1 1.12e+01    -  1.00e+00 7.01e-01f  1
  54r 0.0000000e+00 3.99e-04 3.97e+00  -3.1 2.84e+00    -  1.00e+00 1.00e+00f  1
  55r 0.0000000e+00 3.99e-04 7.28e-01  -3.1 3.68e-02    -  1.00e+00 1.00e+00h  1
  56r 0.0000000e+00 3.99e-04 6.21e-07  -3.1 1.53e-05    -  1.00e+00 1.00e+00h  1
  57r 0.0000000e+00 4.01e-04 9.05e-02  -6.9 8.49e-02    -  9.96e-01 9.91e-01f  1
  58r 0.0000000e+00 3.10e-02 9.60e+01  -6.9 3.96e+02    -  1.00e+00 6.91e-01f  1
  59r 0.0000000e+00 3.46e-02 1.05e+02  -6.9 2.15e+02    -  1.00e+00 1.00e+00h  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  60r 0.0000000e+00 3.81e-04 8.27e-01  -6.9 8.24e+01    -  1.00e+00 1.00e+00h  1
  61r 0.0000000e+00 3.81e-04 1.71e-04  -6.9 3.42e-01    -  1.00e+00 1.00e+00h  1
  62r 0.0000000e+00 3.81e-04 5.35e-12  -6.9 3.59e-05    -  1.00e+00 1.00e+00h  1
  63r 0.0000000e+00 3.92e-04 3.58e-04  -9.0 2.82e-03    -  9.79e-01 1.00e+00f  1
  64r 0.0000000e+00 5.87e-02 1.78e+02  -9.0 4.17e+03    -  1.00e+00 1.00e+00f  1
  65r 0.0000000e+00 1.37e-02 4.15e+01  -9.0 4.27e+02    -  1.00e+00 1.00e+00h  1
  66r 0.0000000e+00 1.97e-04 2.88e-01  -9.0 5.60e+01    -  1.00e+00 1.00e+00h  1
  67r 0.0000000e+00 1.97e-04 2.07e-05  -9.0 2.55e-01    -  1.00e+00 1.00e+00h  1

Number of Iterations....: 67

                                   (scaled)                 (unscaled)
Objective...............:   0.0000000000000000e+00    0.0000000000000000e+00
Dual infeasibility......:   9.8329942437228003e-05    9.8329942437228003e-05
Constraint violation....:   1.9670504833246838e-04    1.9670504833246838e-04
Complementarity.........:   9.0909090909090910e-10    9.0909090909090910e-10
Overall NLP error.......:   1.9670504833246838e-04    1.9670504833246838e-04


Number of objective function evaluations             = 691
Number of objective gradient evaluations             = 52
Number of equality constraint evaluations            = 691
Number of inequality constraint evaluations          = 0
Number of equality constraint Jacobian evaluations   = 70
Number of inequality constraint Jacobian evaluations = 0
Number of Lagrangian Hessian evaluations             = 68
Total CPU secs in IPOPT (w/o function evaluations)   =      0.360
Total CPU secs in NLP function evaluations           =      0.011

EXIT: Converged to a point of local infeasibility. Problem may be infeasible.

WARNING: Loading a SolverResults object with a warning status into
    model=unknown;
        message from solver=Ipopt 3.12.13\x3a Converged to a locally
        infeasible point. Problem may be infeasible.
degrees_of_freedom: 0
----------------------------------------------------------------------
fs.source1
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 720.0, (0.0, 'TOC'): 140.0, (0.0, 'nitrates'): 0.0}
         :    flow_vol : {0.0: 4.5833}
         :    pressure : {0.0: 200000.0}
         : temperature : {0.0: 300}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9280142733767, (0.0, 'TOC'): 139.9860027753788, (0.0, 'nitrates'): -1.0042434530935294e-21}
         :    flow_vol : {0.0: 4.58329990913096}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1676.8518595617677, (0.0, 'TOC'): 326.0545282481177, (0.0, 'nitrates'): 2.3388427184019243e-17}
         :    flow_vol : {0.0: 0.00019679591737235602}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should skip: source1
----------------------------------------------------------------------
fs.swoi
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9280142733767, (0.0, 'TOC'): 139.9860027753788, (0.0, 'nitrates'): -1.0042521067190075e-21}
         :    flow_vol : {0.0: 4.58329990913096}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9352136255129, (0.0, 'TOC'): 139.98740264940528, (0.0, 'nitrates'): 2.735429575775987e-21}
         :    flow_vol : {0.0: 4.583254076131869}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -8.114463850223561e-13, (0.0, 'TOC'): 1.3031902290958716e-11, (0.0, 'nitrates'): -3.739654749770712e-16}
         :    flow_vol : {0.0: 4.583299909109287e-05}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should have a cost swoi
total_up_cost: 23.366026411703185
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.coag_floc
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9352136255129, (0.0, 'TOC'): 139.98740264940528, (0.0, 'nitrates'): 2.7354213134411203e-21}
         :    flow_vol : {0.0: 4.583254076131869}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9495526053078, (0.0, 'TOC'): 76.99460493140097, (0.0, 'nitrates'): 2.1495802072349374e-21}
         :    flow_vol : {0.0: 4.583162793086613}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.1270210773755101e-13, (0.0, 'TOC'): 2088381.7016630599, (0.0, 'nitrates'): 1.942315047018292e-17}
         :    flow_vol : {0.0: 0.00013825012208260675}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should have a cost coag_floc
total_up_cost: 15.121692104044573
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.mixer1
inlet1 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 719.9495526053078, (0.0, 'TOC'): 76.99460493140097, (0.0, 'nitrates'): 2.1495722892218596e-21}
         :    flow_vol : {0.0: 4.583162793086613}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
inlet2 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 0.0001, (0.0, 'TOC'): 0.0001, (0.0, 'nitrates'): 0.0001}
         :    flow_vol : {0.0: 1.0751863341808103}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 300.0}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 583.1464329441484, (0.0, 'TOC'): 62.36428827060529, (0.0, 'nitrates'): 1.900176729992708e-05}
         :    flow_vol : {0.0: 5.658349127267424}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should skip: mixer1
----------------------------------------------------------------------
fs.tri_media_filtration
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 583.1464329441484, (0.0, 'TOC'): 62.36428827060529, (0.0, 'nitrates'): 1.900176729992708e-05}
         :    flow_vol : {0.0: 5.658349127267424}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 728.9330411801856, (0.0, 'TOC'): 77.95536033825661, (0.0, 'nitrates'): 2.3752209124908846e-05}
         :    flow_vol : {0.0: 4.526679301813939}
         :    pressure : {0.0: 199999.99939999997}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -6.803822396945771e-26, (0.0, 'TOC'): 2.9371908992881163e-26, (0.0, 'nitrates'): -3.574704493345771e-29}
         :    flow_vol : {0.0: 1.1316698254534847}
         :    pressure : {0.0: 199999.99939999997}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost tri_media_filtration
total_up_cost: 15.304393095030534
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.splitter1
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -2.2104694726885396e-24, (0.0, 'TOC'): -4.383955178629578e-24, (0.0, 'nitrates'): -1.9790131965923756e-27}
         :    flow_vol : {0.0: 1.1316698254534847}
         :    pressure : {0.0: 199999.99939999997}
         : temperature : {0.0: 299.9999}
outlet1 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 0.0001, (0.0, 'TOC'): 0.0001, (0.0, 'nitrates'): 0.0001}
         :    flow_vol : {0.0: 1.0751863341808103}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 300.0}
outlet2 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 0.0001, (0.0, 'TOC'): 0.0001, (0.0, 'nitrates'): 0.0001}
         :    flow_vol : {0.0: 0.05668349127267428}
         :    pressure : {0.0: 199999.99949999998}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should skip: splitter1
----------------------------------------------------------------------
fs.SAA
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 728.9330411801856, (0.0, 'TOC'): 77.95536033825661, (0.0, 'nitrates'): 2.3752209124908846e-05}
         :    flow_vol : {0.0: 4.526679301813939}
         :    pressure : {0.0: 199999.99939999997}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 728.9403305834913, (0.0, 'TOC'): 77.95613989965561, (0.0, 'nitrates'): 2.375244664937534e-05}
         :    flow_vol : {0.0: 4.526634035020921}
         :    pressure : {0.0: 199999.99929999997}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 2.520546057263993e-16, (0.0, 'TOC'): -1.9236065462668712e-16, (0.0, 'nitrates'): 2.235909819896396e-19}
         :    flow_vol : {0.0: 4.526679301797287e-05}
         :    pressure : {0.0: 199999.99929999997}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost SAA
total_up_cost: 0.9614295637395786
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.SBA
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 728.9403305834913, (0.0, 'TOC'): 77.95613989965561, (0.0, 'nitrates'): 2.375244664937534e-05}
         :    flow_vol : {0.0: 4.526634035020921}
         :    pressure : {0.0: 199999.99929999997}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 728.9476200596919, (0.0, 'TOC'): 77.95691946885029, (0.0, 'nitrates'): 2.37526841762171e-05}
         :    flow_vol : {0.0: 4.526588768680571}
         :    pressure : {0.0: 199999.99919999996}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -2.462570492006315e-18, (0.0, 'TOC'): 1.5889584086484896e-17, (0.0, 'nitrates'): 3.6637613182322515e-21}
         :    flow_vol : {0.0: 4.526634034984767e-05}
         :    pressure : {0.0: 199999.99919999996}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost SBA
total_up_cost: 1.9554138937757113
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.cf
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 728.9476200596919, (0.0, 'TOC'): 77.95691946885029, (0.0, 'nitrates'): 2.37526841762171e-05}
         :    flow_vol : {0.0: 4.526588768680571}
         :    pressure : {0.0: 199999.99919999996}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 728.954909608788, (0.0, 'TOC'): 77.95769904584074, (0.0, 'nitrates'): 2.3752921705434153e-05}
         :    flow_vol : {0.0: 4.526543502792885}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): -2.1339398264163254e-17, (0.0, 'TOC'): 1.0377960916341613e-17, (0.0, 'nitrates'): -1.5730188875852463e-20}
         :    flow_vol : {0.0: 4.526588768616335e-05}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost cf
total_up_cost: 13.323807340499908
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.ro
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 728.954909608788, (0.0, 'TOC'): 77.95769904584074, (0.0, 'nitrates'): 2.3752921705434153e-05}
         :    flow_vol : {0.0: 4.526543502792885}
         :    pressure : {0.0: 199999.99909999996}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 346.1517727192568, (0.0, 'TOC'): 148.07607639992096, (0.0, 'nitrates'): 4.5117281451662644e-05}
         :    flow_vol : {0.0: 2.3830920205880184}
         :    pressure : {0.0: 199999.99899999995}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1154.5559127344154, (0.0, 'TOC'): 1.4095397202615567e-24, (0.0, 'nitrates'): 7.200444651240438e-28}
         :    flow_vol : {0.0: 2.1434514822048665}
         :    pressure : {0.0: 199999.99899999995}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost ro
total_up_cost: 294.8803259329162
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.lime
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 346.1517727192568, (0.0, 'TOC'): 148.07607639992096, (0.0, 'nitrates'): 4.5117281451662644e-05}
         :    flow_vol : {0.0: 2.3830920205880184}
         :    pressure : {0.0: 199999.99899999995}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 346.1552342715995, (0.0, 'TOC'): 148.07755717549273, (0.0, 'nitrates'): 4.5117732628988924e-05}
         :    flow_vol : {0.0: 2.3830681896678128}
         :    pressure : {0.0: 199999.99889999998}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 6.094635241846212e-19, (0.0, 'TOC'): -8.462632540849906e-19, (0.0, 'nitrates'): -3.829303909587748e-22}
         :    flow_vol : {0.0: 2.383092020563637e-05}
         :    pressure : {0.0: 199999.99889999998}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost lime
total_up_cost: 59.235981313024865
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.co2
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 346.1552342715995, (0.0, 'TOC'): 148.07755717549273, (0.0, 'nitrates'): 4.5117732628988924e-05}
         :    flow_vol : {0.0: 2.3830681896678128}
         :    pressure : {0.0: 199999.99889999998}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 346.1586958585581, (0.0, 'TOC'): 148.07903796587237, (0.0, 'nitrates'): 4.511818381082704e-05}
         :    flow_vol : {0.0: 2.383044358985916}
         :    pressure : {0.0: 199999.99879999997}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 2.7965501660381518e-18, (0.0, 'TOC'): -3.741900264323855e-18, (0.0, 'nitrates'): -2.5319906601749174e-21}
         :    flow_vol : {0.0: 2.3830681896708225e-05}
         :    pressure : {0.0: 199999.99879999997}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost co2
total_up_cost: 8.473675190865075
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.chlor
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 346.1586958585581, (0.0, 'TOC'): 148.07903796587237, (0.0, 'nitrates'): 4.511818381082704e-05}
         :    flow_vol : {0.0: 2.383044358985916}
         :    pressure : {0.0: 199999.99879999997}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 346.16215748013286, (0.0, 'TOC'): 148.08051877106007, (0.0, 'nitrates'): 4.5118634997177e-05}
         :    flow_vol : {0.0: 2.3830205285423265}
         :    pressure : {0.0: 199999.99869999997}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.2143271745165354e-19, (0.0, 'TOC'): -1.4476119666463906e-19, (0.0, 'nitrates'): -1.858734953722643e-24}
         :    flow_vol : {0.0: 2.3830443589556435e-05}
         :    pressure : {0.0: 199999.99869999997}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost chlor
total_up_cost: 10.338793604161093
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.ammonia
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 346.16215748013286, (0.0, 'TOC'): 148.08051877106007, (0.0, 'nitrates'): 4.5118634997177e-05}
         :    flow_vol : {0.0: 2.3830205285423265}
         :    pressure : {0.0: 199999.99869999997}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 346.1656191363242, (0.0, 'TOC'): 148.081999591056, (0.0, 'nitrates'): 4.511908618803888e-05}
         :    flow_vol : {0.0: 2.382996698337041}
         :    pressure : {0.0: 199999.99859999996}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 8.607079735725047e-20, (0.0, 'TOC'): -1.0356014590485956e-19, (0.0, 'nitrates'): -1.6948503396646008e-24}
         :    flow_vol : {0.0: 2.3830205285513273e-05}
         :    pressure : {0.0: 199999.99859999996}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost ammonia
total_up_cost: 0.8683467161836179
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.TWS_24_hr
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 346.1656191363242, (0.0, 'TOC'): 148.081999591056, (0.0, 'nitrates'): 4.511908618803888e-05}
         :    flow_vol : {0.0: 2.382996698337041}
         :    pressure : {0.0: 199999.99859999996}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 346.16908082713246, (0.0, 'TOC'): 148.08348042586024, (0.0, 'nitrates'): 4.511953738341272e-05}
         :    flow_vol : {0.0: 2.3829728683700577}
         :    pressure : {0.0: 199999.99849999996}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 5.13410232881484e-20, (0.0, 'TOC'): -6.222108769379527e-20, (0.0, 'nitrates'): -9.396481962829245e-25}
         :    flow_vol : {0.0: 2.3829966983246464e-05}
         :    pressure : {0.0: 199999.99849999996}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost TWS_24_hr
total_up_cost: 13.214184669664542
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.muni
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 346.16908082713246, (0.0, 'TOC'): 148.08348042586024, (0.0, 'nitrates'): 4.511953738341272e-05}
         :    flow_vol : {0.0: 2.3829728683700577}
         :    pressure : {0.0: 199999.99849999996}
         : temperature : {0.0: 299.9999}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 346.172542552558, (0.0, 'TOC'): 148.08496127547298, (0.0, 'nitrates'): 4.511998858329855e-05}
         :    flow_vol : {0.0: 2.382949038641374}
         :    pressure : {0.0: 199999.99839999995}
         : temperature : {0.0: 299.9999}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.7071126182376547e-20, (0.0, 'TOC'): -2.0748440481158506e-20, (0.0, 'nitrates'): -2.1065025411616427e-24}
         :    flow_vol : {0.0: 2.382972868364419e-05}
         :    pressure : {0.0: 199999.99839999995}
         : temperature : {0.0: 299.9999}
Show some costing values
---------------------
should have a cost muni
total_up_cost: 4.774190570660693
----------------------------------------------------------------------

In [15]:
cost_range_list

[451.8380234584197, 461.8182604062696]

In [ ]:
import time
from multiprocessing import Pool
import multiprocessing

mu = 0.6
sigma = .1
num_reps = 50

input_list = np.random.normal(mu,sigma, size = num_reps) #, sigma, num_reps).round(4)

count, bins, ignored = plt.hist(input_list, 25, density=True)
plt.plot(bins, 1/(sigma * np.sqrt(2 * np.pi)) * np.exp( - (bins - mu)**2 / (2 * sigma**2) ),
          linewidth=2, color='r')
plt.show()

### INPUT TO MODEL LIST: ### CAN BE AUTOMATED FOR USER TO LABEL THE VARIABLE. TOOD ###
no_of_proc = 4
list_final = []
for i in range(no_of_proc):
    part2 = len(input_list) / no_of_proc
    i2 = ((i+1)*part2)
    list1 = input_list[int(i*part2):int(i2)]
    list_final.append(list1)
    
    
def monte_run(list_final):
    print('goes in')

    up_name = "tri_media_filtration" # which unit process it applies to. TODO hould be user input.
    cost_range_list = []; #results will be inputted in this array

    #for value_change in pct_to_target1: # cycles through each value from MC range
    for value_change in list_final:

        # create and build model
        m = wt.watertap_setup(dynamic = False)
        m = wt.case_study_trains.get_case_study(name = 'carlsbad', flow = 4.5833, m = m)

        getattr(m.fs, up_name).water_recovery.fix(value_change)

        # set variable to MC value
        result = wt.run_water_tap(m)
        results_table = get_results_table(m, unit_process_names)
        cost_range_list.append(results_table.total_up_cost.sum())


    return cost_range_list

startTime = time.time()

pool=Pool()
dfs = pool.map(monte_run, list_final) #SomeClass().preprocess_data()

executionTime = (time.time() - startTime)
print('Execution time in seconds: ' + str(executionTime))

In [35]:
####TO DO LOAD AND SAVE!!

In [36]:
#### SAVE TRAIN ####
# path = 'trains/Tutorial1_treatment_train_example.csv'
# wt.save_train(T, path)

In [37]:
# #### LOAD TRAIN ####
# path = 'trains/Tutorial1_treatment_train_example.csv'
# TT = wt.load_train(path)

In [38]:
# wt.display.show_train(TT)