In [1]:
%matplotlib inline
from pylab import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
from networkx.drawing.nx_agraph import write_dot, graphviz_layout
from pyomo.environ import ConcreteModel, SolverFactory, TerminationCondition, \
    value, Var, Constraint, Expression, Objective, TransformationFactory, units as pyunits
from pyomo.network import Arc, SequentialDecomposition
from idaes.core.util.model_statistics import degrees_of_freedom
from pyomo.environ import (
    Block, Constraint, Expression, Var, Param, NonNegativeReals, units as pyunits)
from idaes.core.util.exceptions import ConfigurationError
from split_test2 import Separator1

from mixer_example import Mixer1

### TODO: CREATE INTRO

##### Import WaterTAP3 Package

In [2]:
import watertap as wt

In [3]:
import case_study_trains

##### Step 1: Look up unit process library. Returns a List.

##### Step 3: Set up IDAES flowsheet for watertap. This selects a property package for you (see water_props.py). The property package could be changed in the future for performing heat/energy and other balances.

##### Step 3: Add a water source and define inlet flow.

In [4]:
case_study_trains.case_study = "Carlsbad"
case_study_trains.reference = "NAWI"
case_study_trains.water_type = "Seawater"

In [5]:
m = wt.watertap_setup(dynamic = False)

In [6]:
m = wt.case_study_trains.get_case_study(flow = 4.5833, m = m)

/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)
/Users/amiara/NAWI/WaterTap/NAWI-WaterTAP3/IDAES-WaterTAP3_v2/ml_regression.py:149: RuntimeWarning: divide by zero encountered in power
  return a*np.power(x, b)

In [7]:
wt.display.show_train2(model_name=m)

In [8]:
##### Step 5:  Run model and display results. The resutls display will be put into easier format to read for user soon.

In [9]:
import financials
financials.get_system_costing(m.fs)

In [10]:
result = wt.run_water_tap(m)

Ipopt 3.12.13:

******************************************************************************
This program contains Ipopt, a library for large-scale nonlinear optimization.
 Ipopt is released as open source code under the Eclipse Public License (EPL).
         For more information visit http://projects.coin-or.org/Ipopt
******************************************************************************

This is Ipopt version 3.12.13, running with linear solver mumps.
NOTE: Other linear solvers might be more efficient (see Ipopt documentation).

Number of nonzeros in equality constraint Jacobian...:      660
Number of nonzeros in inequality constraint Jacobian.:        0
Number of nonzeros in Lagrangian Hessian.............:       65

Total number of variables............................:      260
                     variables with only lower bounds:        0
                variables with lower and upper bounds:       48
                     variables with only upper bounds:        0
Total number of equality constraints.................:      260
Total number of inequality constraints...............:        0
        inequality constraints with only lower bounds:        0
   inequality constraints with lower and upper bounds:        0
        inequality constraints with only upper bounds:        0

iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
   0  0.0000000e+00 1.00e+05 0.00e+00  -1.0 0.00e+00    -  0.00e+00 0.00e+00   0
   1  0.0000000e+00 5.75e+02 3.99e+07  -1.0 1.00e+05    -  6.18e-05 1.00e+00f  1
   2  0.0000000e+00 5.01e+02 3.52e+07  -1.0 1.22e+02  -4.0 7.36e-03 1.28e-01f  1
   3  0.0000000e+00 2.74e+01 2.39e+07  -1.0 1.17e+02    -  9.90e-01 9.43e-01h  1
   4  0.0000000e+00 7.49e-01 7.25e+05  -1.0 2.00e+01    -  9.90e-01 9.72e-01h  1
   5  0.0000000e+00 5.91e-01 5.72e+05  -1.0 7.12e+02    -  9.90e-01 2.11e-01h  1
   6  0.0000000e+00 5.89e-01 1.80e+08  -1.0 9.03e+02    -  9.90e-01 2.67e-03h  1
   7  0.0000000e+00 5.89e-01 6.66e+12  -1.0 9.05e+02    -  1.00e+00 2.68e-05h  1
   8  0.0000000e+00 1.91e-02 6.64e+10  -1.0 1.58e-02   9.8 9.90e-01 1.00e+00h  1
   9r 0.0000000e+00 1.91e-02 1.00e+03  -1.0 0.00e+00    -  0.00e+00 1.42e-07R  2
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  10r 0.0000000e+00 4.60e-03 3.10e+02  -1.0 2.04e+01    -  9.72e-01 5.20e-03f  1
  11r 0.0000000e+00 3.36e-03 6.85e+02  -1.0 7.08e-01    -  8.01e-02 2.66e-01f  1
  12r 0.0000000e+00 3.56e-04 4.66e+01  -1.0 2.72e-01    -  8.99e-01 9.73e-01f  1
  13r 0.0000000e+00 4.09e-04 3.23e+01  -1.0 3.61e-01    -  9.27e-01 1.00e+00f  1
  14r 0.0000000e+00 4.25e-04 2.02e+02  -1.0 7.03e-01    -  1.00e+00 1.00e+00f  1
  15r 0.0000000e+00 4.24e-04 4.48e+00  -1.0 2.00e-01    -  1.00e+00 1.00e+00f  1
  16r 0.0000000e+00 7.56e-05 1.69e+01  -1.7 2.43e-01    -  1.00e+00 1.00e+00f  1
  17r 0.0000000e+00 7.51e-05 2.02e+00  -1.7 3.48e-01    -  1.00e+00 1.00e+00f  1
  18r 0.0000000e+00 7.51e-05 1.33e-02  -1.7 3.05e-02    -  1.00e+00 1.00e+00h  1
  19r 0.0000000e+00 4.62e-05 3.33e+01  -3.8 1.96e-01    -  1.00e+00 8.71e-01f  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  20r 0.0000000e+00 4.55e-05 3.22e+02  -3.8 6.39e+00    -  1.00e+00 3.76e-01f  1
  21r 0.0000000e+00 4.46e-05 4.86e+01  -3.8 3.99e+00    -  7.51e-01 9.58e-01f  1
  22r 0.0000000e+00 4.46e-05 1.27e+00  -3.8 1.55e-01    -  1.00e+00 1.00e+00f  1
  23r 0.0000000e+00 4.46e-05 1.18e-01  -3.8 3.46e-03    -  1.00e+00 1.00e+00h  1
  24r 0.0000000e+00 4.46e-05 3.32e-07  -3.8 5.55e-05    -  1.00e+00 1.00e+00h  1
  25r 0.0000000e+00 4.46e-05 2.72e+00  -8.6 5.62e-02    -  9.66e-01 9.57e-01f  1
  26r 0.0000000e+00 1.84e-03 1.42e+02  -8.6 8.53e+01    -  1.00e+00 7.16e-01f  1
  27r 0.0000000e+00 2.45e-03 1.53e+02  -8.6 1.21e+02    -  1.00e+00 9.36e-01h  1
  28r 0.0000000e+00 3.38e-04 2.11e+01  -8.6 8.95e+01    -  1.00e+00 9.54e-01h  1
  29r 0.0000000e+00 1.79e-05 3.37e-02  -8.6 8.70e+00    -  1.00e+00 1.00e+00h  1
iter    objective    inf_pr   inf_du lg(mu)  ||d||  lg(rg) alpha_du alpha_pr  ls
  30r 0.0000000e+00 1.97e-05 1.79e-04  -8.6 7.95e-03    -  1.00e+00 1.00e+00h  1
  31r 0.0000000e+00 1.97e-05 7.85e-07  -8.6 6.43e-07    -  1.00e+00 1.00e+00h  1

Number of Iterations....: 31

                                   (scaled)                 (unscaled)
Objective...............:   0.0000000000000000e+00    0.0000000000000000e+00
Dual infeasibility......:   7.9622366498395628e-05    7.9622366498395628e-05
Constraint violation....:   1.9660021692402552e-05    1.9660021692402552e-05
Complementarity.........:   2.5059036509170370e-09    2.5059036509170370e-09
Overall NLP error.......:   1.9660021692402552e-05    7.9622366498395628e-05


Number of objective function evaluations             = 35
Number of objective gradient evaluations             = 11
Number of equality constraint evaluations            = 35
Number of inequality constraint evaluations          = 0
Number of equality constraint Jacobian evaluations   = 34
Number of inequality constraint Jacobian evaluations = 0
Number of Lagrangian Hessian evaluations             = 32
Total CPU secs in IPOPT (w/o function evaluations)   =      0.138
Total CPU secs in NLP function evaluations           =      0.002

EXIT: Converged to a point of local infeasibility. Problem may be infeasible.
WARNING: Loading a SolverResults object with a warning status into
    model=unknown;
        message from solver=Ipopt 3.12.13\x3a Converged to a locally
        infeasible point. Problem may be infeasible.
degrees_of_freedom: 0
----------------------------------------------------------------------
fs.source1
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.0}
         :    flow_vol : {0.0: 4.5833}
         :    pressure : {0.0: 200000.0}
         : temperature : {0.0: 300}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 34.99665011779733}
         :    flow_vol : {0.0: 4.583280339978308}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 448.8545067805129}
         :    flow_vol : {0.0: 3.573886361317757e-05}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should skip: source1
----------------------------------------------------------------------
fs.sw_onshore_intake
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 34.99665011779733}
         :    flow_vol : {0.0: 4.583280339978308}
         :    pressure : {0.0: 199999.9999}
         : temperature : {0.0: 300.0}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 34.99700008778773}
         :    flow_vol : {0.0: 4.583234507174908}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.0476206616842601e-06}
         :    flow_vol : {0.0: 4.5832803399794e-05}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should have a cost sw_onshore_intake
total_up_cost: 22.373277639943957
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.coag_and_floc
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 34.99700008778773}
         :    flow_vol : {0.0: 4.583234507174908}
         :    pressure : {0.0: 199999.9998}
         : temperature : {0.0: 300.0}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 34.997350061277864}
         :    flow_vol : {0.0: 4.583188674829837}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.0476211537257396e-06}
         :    flow_vol : {0.0: 4.5832345071307714e-05}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
Show some costing values
---------------------
should have a cost coag_and_floc
total_up_cost: 13.654145145214176
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.mixer1
inlet1 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 34.997350061277864}
         :    flow_vol : {0.0: 4.583188674829837}
         :    pressure : {0.0: 199999.9997}
         : temperature : {0.0: 300.0}
inlet2 : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 3.328746262958274e-05}
         :    flow_vol : {0.0: 0.4811082034351763}
         :    pressure : {0.0: 199999.9991}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 31.67260496776541}
         :    flow_vol : {0.0: 5.064296878265013}
         :    pressure : {0.0: 199999.9993}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should skip: mixer1
----------------------------------------------------------------------
fs.tri_media_filtration
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 31.67260496776541}
         :    flow_vol : {0.0: 5.064296878265013}
         :    pressure : {0.0: 199999.9993}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.19177977833879}
         :    flow_vol : {0.0: 4.557867190438512}
         :    pressure : {0.0: 199999.9992}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 3.1672604967770186e-05}
         :    flow_vol : {0.0: 0.5064296878265014}
         :    pressure : {0.0: 199999.9992}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost tri_media_filtration
total_up_cost: 17.842172687667897
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.backwash_solids_handling
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 3.1672604967771006e-05}
         :    flow_vol : {0.0: 0.5064296878265014}
         :    pressure : {0.0: 199999.9992}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 3.328746262958274e-05}
         :    flow_vol : {0.0: 0.4811082034351763}
         :    pressure : {0.0: 199999.9991}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1e-06}
         :    flow_vol : {0.0: 0.025321484391325113}
         :    pressure : {0.0: 199999.9991}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost backwash_solids_handling
total_up_cost: 2165.961025124247
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.sulfuric_acid_addition
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.19177977833879}
         :    flow_vol : {0.0: 4.557867190438512}
         :    pressure : {0.0: 199999.9992}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.19213169964531}
         :    flow_vol : {0.0: 4.557821611766608}
         :    pressure : {0.0: 199999.9991}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.0479569201973705e-06}
         :    flow_vol : {0.0: 4.557867190439008e-05}
         :    pressure : {0.0: 199999.9991}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost sulfuric_acid_addition
total_up_cost: 0.6960737321994035
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.sodium_bisulfite_addition
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.19213169964531}
         :    flow_vol : {0.0: 4.557821611766608}
         :    pressure : {0.0: 199999.9991}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.19248362447108}
         :    flow_vol : {0.0: 4.55777603355049}
         :    pressure : {0.0: 199999.99899999998}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.0479562014434643e-06}
         :    flow_vol : {0.0: 4.557821611787043e-05}
         :    pressure : {0.0: 199999.99899999998}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost sodium_bisulfite_addition
total_up_cost: 1.1967559283633757
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.cartridge_filtration
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.19248362447108}
         :    flow_vol : {0.0: 4.55777603355049}
         :    pressure : {0.0: 199999.99899999998}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.19283555281612}
         :    flow_vol : {0.0: 4.557730455790155}
         :    pressure : {0.0: 199999.9989}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.0479527472237202e-06}
         :    flow_vol : {0.0: 4.557776033490349e-05}
         :    pressure : {0.0: 199999.9989}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost cartridge_filtration
total_up_cost: 12.784470794309918
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.ro_deep
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 35.19283555281612}
         :    flow_vol : {0.0: 4.557730455790155}
         :    pressure : {0.0: 199999.9989}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 16.711681687091456}
         :    flow_vol : {0.0: 2.3995110340777575}
         :    pressure : {0.0: 199999.9988}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 55.74020537868391}
         :    flow_vol : {0.0: 2.1582194217123973}
         :    pressure : {0.0: 199999.9988}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost ro_deep
total_up_cost: 316.9412641666779
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.lime_softening
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 16.711681687091456}
         :    flow_vol : {0.0: 2.3995110340777575}
         :    pressure : {0.0: 199999.9988}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 16.71184880556846}
         :    flow_vol : {0.0: 2.399487038967417}
         :    pressure : {0.0: 199999.9987}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.1049066463103785e-06}
         :    flow_vol : {0.0: 2.3995110340529384e-05}
         :    pressure : {0.0: 199999.9987}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost lime_softening
total_up_cost: 57.306798919506704
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.co2_addition
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 16.71184880556846}
         :    flow_vol : {0.0: 2.399487038967417}
         :    pressure : {0.0: 199999.9987}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 16.712015925716667}
         :    flow_vol : {0.0: 2.3994630440970277}
         :    pressure : {0.0: 199999.9986}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.1049021006198915e-06}
         :    flow_vol : {0.0: 2.3994870389359336e-05}
         :    pressure : {0.0: 199999.9986}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost co2_addition
total_up_cost: 8.38866322098981
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.chlorination_twb
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 16.712015925716667}
         :    flow_vol : {0.0: 2.3994630440970277}
         :    pressure : {0.0: 199999.9986}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 16.712183047536094}
         :    flow_vol : {0.0: 2.399439049466587}
         :    pressure : {0.0: 199999.9985}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.1048985759212142e-06}
         :    flow_vol : {0.0: 2.399463044085382e-05}
         :    pressure : {0.0: 199999.9985}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost chlorination_twb
total_up_cost: 10.074837573507157
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.ammonia_addition
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 16.712183047536094}
         :    flow_vol : {0.0: 2.399439049466587}
         :    pressure : {0.0: 199999.9985}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 16.712350171026756}
         :    flow_vol : {0.0: 2.3994150550760924}
         :    pressure : {0.0: 199999.99839999998}
         : temperature : {0.0: 299.9998}
waste : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 1.1048958172238142e-06}
         :    flow_vol : {0.0: 2.3994390494568753e-05}
         :    pressure : {0.0: 199999.99839999998}
         : temperature : {0.0: 299.9998}
Show some costing values
---------------------
should have a cost ammonia_addition
total_up_cost: 0.8645096955690517
----------------------------------------------------------------------
----------------------------------------------------------------------
fs.treated_storage_24_hr
inlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 16.712350171026756}
         :    flow_vol : {0.0: 2.3994150550760924}
         :    pressure : {0.0: 199999.99839999998}
         : temperature : {0.0: 299.9998}
outlet : Size=1
    Key  : Name        : Value
    None :   conc_mass : {(0.0, 'TDS'): 16.712517296188665}
         :    flow_vol : {0.0: 2.399391060925542}
         :    pressure : {0.0: 199999.9983}

In [11]:
cost_variables = [
    "total_up_cost",
    "fixed_cap_inv_unadjusted",
    "fixed_cap_inv",
    "total_fixed_op_cost",
    "total_cap_investment",
    "land_cost",
    "working_cap",
    "catalysts_chemicals",#
    #"electricity",##
    "cap_replacement_parts", #
    "salaries",
    "benefits",
    "maintenance",
    "lab",
    "insurance_taxes",
    "base_employee_salary_cost",
    
    "cat_and_chem_cost",##
    "labor_and_other_fixed",#
    "consumer_price_index",#
    
    "electricity_cost", ##
    "other_var_cost"   ## 
]

In [12]:
variables = cost_variables + ["inlet_flow", "outlet_flow", "waste_flow"]

In [13]:
import case_study_trains
unit_process_names = case_study_trains.get_unit_processes(case_study_trains.case_study)

In [14]:
def get_results_table(model, unit_process_names, scenario = None, case_study = None):
    # could make a dictionary if betteR?
    value_list = [] 
    up_list = []
    scenario_list = []
    unit_list = []
    variable_list = []
    case_study_list = []
    
    for node in unit_process_names:
        
        for variable in variables:
            
            if variable == "inlet_flow":
                value_list.append(getattr(m.fs, node).inlet.flow_vol.extract_values()[0])
                variable_list.append(variable)
                unit_list.append("m3/s")
            elif variable == "outlet_flow":
                value_list.append(getattr(m.fs, node).outlet.flow_vol.extract_values()[0])
                variable_list.append(variable)
                unit_list.append("m3/s")
            elif variable == "waste_flow":
                value_list.append(getattr(m.fs, node).waste.flow_vol.extract_values()[0])
                variable_list.append(variable)
                unit_list.append("m3/s")
            else:
                # call m.fs.'node'.costing.'variable'() for each node and variable
                costing_attr = getattr(m.fs, node).costing
                cost_method = getattr(costing_attr, variable) #m.fs.swoi.costing.total_up_cost            
            
                if type(cost_method) == int:
                    cost_method = np.float64(cost_method)

                if type(cost_method) == np.float64:
                    cost_value = cost_method
                else:
                    cost_value = cost_method()
                # append ^ to a list
                value_list.append(cost_value)            
                variable_list.append(variable)
                unit_list.append("$MM")        
        
            up_list.append(node)
            scenario_list.append(scenario)
            case_study_list.append(case_study)
    
    df = pd.DataFrame()
    df["Case_Study"] = case_study_list
    df["Scenario"] = scenario_list
    df["Unit_Process"] = up_list
    df["Variable"] = variable_list
    df["Unit"] = unit_list
    df["Value"] = value_list
    
    #print(df)
    return df

In [15]:
t1 = get_results_table(m, unit_process_names, scenario = "Baseline", case_study = "Carlsbad")

In [16]:
t1

,Case_Study,Scenario,Unit_Process,Variable,Unit,Value
0,Carlsbad,Baseline,sw_onshore_intake,total_up_cost,$MM,2.237328e+01
1,Carlsbad,Baseline,sw_onshore_intake,fixed_cap_inv_unadjusted,$MM,2.030871e+01
2,Carlsbad,Baseline,sw_onshore_intake,fixed_cap_inv,$MM,2.098023e+01
3,Carlsbad,Baseline,sw_onshore_intake,total_fixed_op_cost,$MM,3.125703e-01
4,Carlsbad,Baseline,sw_onshore_intake,total_cap_investment,$MM,2.206071e+01
...,...,...,...,...,...,...
363,Carlsbad,Baseline,landfill,electricity_cost,$MM,0.000000e+00
364,Carlsbad,Baseline,landfill,other_var_cost,$MM,0.000000e+00
365,Carlsbad,Baseline,landfill,inlet_flow,m3/s,2.532148e-02
366,Carlsbad,Baseline,landfill,outlet_flow,m3/s,2.532123e-02
367,Carlsbad,Baseline,landfill,waste_flow,m3/s,2.532148e-07

In [17]:
t1[t1.Variable == "total_up_cost"]

,Case_Study,Scenario,Unit_Process,Variable,Unit,Value
0,Carlsbad,Baseline,sw_onshore_intake,total_up_cost,$MM,22.373278
23,Carlsbad,Baseline,coag_and_floc,total_up_cost,$MM,13.654145
46,Carlsbad,Baseline,tri_media_filtration,total_up_cost,$MM,17.842173
69,Carlsbad,Baseline,sulfuric_acid_addition,total_up_cost,$MM,0.696074
92,Carlsbad,Baseline,sodium_bisulfite_addition,total_up_cost,$MM,1.196756
115,Carlsbad,Baseline,cartridge_filtration,total_up_cost,$MM,12.784471
138,Carlsbad,Baseline,ro_deep,total_up_cost,$MM,316.941264
161,Carlsbad,Baseline,lime_softening,total_up_cost,$MM,57.306799
184,Carlsbad,Baseline,co2_addition,total_up_cost,$MM,8.388663
207,Carlsbad,Baseline,chlorination_twb,total_up_cost,$MM,10.074838
230,Carlsbad,Baseline,ammonia_addition,total_up_cost,$MM,0.864510
253,Carlsbad,Baseline,treated_storage_24_hr,total_up_cost,$MM,12.911104
276,Carlsbad,Baseline,municipal_drinking,total_up_cost,$MM,7.791308
299,Carlsbad,Baseline,backwash_solids_handling,total_up_cost,$MM,2165.961025
322,Carlsbad,Baseline,surface_discharge,total_up_cost,$MM,31.883676
345,Carlsbad,Baseline,landfill,total_up_cost,$MM,0.018701

In [18]:
t1.to_csv("results_v2.csv")

In [19]:
m.fs.costing.capital_investment_total.display()

capital_investment_total : Size=1
    Key  : Value
    None : 479.444813142111

In [ ]:
m.fs.costing.capital_investment_total.display()

In [20]:
m.fs.costing.LCOW.display()

LCOW : Size=1
    Key  : Value
    None : 1.4843802324562022e-06

In [ ]:
cost_range_list = []; #results will be inputted in this array
#up_name = "tri_media_filtration" # which unit process it applies to. TODO hould be user input.

#for value_change in pct_to_target1: # cycles through each value from MC range
for value_change in [0.4, 0.8]: #, 0.9]:

    # create and build model
    m = wt.watertap_setup(dynamic = False)
    m = wt.case_study_trains.get_case_study(name = 'carlsbad', flow = 4.5833, m = m)

    m.fs.tri_media_filtration.water_recovery.fix(value_change)

    # set variable to MC value
    wt.run_water_tap(m)
    results_table = get_results_table(m, unit_process_name)
    cost_range_list.append(results_table.total_up_cost.sum())

In [ ]:
cost_range_list

In [ ]:
import time
from multiprocessing import Pool
import multiprocessing

mu = 0.6
sigma = .1
num_reps = 50

input_list = np.random.normal(mu,sigma, size = num_reps) #, sigma, num_reps).round(4)

count, bins, ignored = plt.hist(input_list, 25, density=True)
plt.plot(bins, 1/(sigma * np.sqrt(2 * np.pi)) * np.exp( - (bins - mu)**2 / (2 * sigma**2) ),
          linewidth=2, color='r')
plt.show()

### INPUT TO MODEL LIST: ### CAN BE AUTOMATED FOR USER TO LABEL THE VARIABLE. TOOD ###
no_of_proc = 4
list_final = []
for i in range(no_of_proc):
    part2 = len(input_list) / no_of_proc
    i2 = ((i+1)*part2)
    list1 = input_list[int(i*part2):int(i2)]
    list_final.append(list1)
    
    
def monte_run(list_final):
    print('goes in')

    up_name = "tri_media_filtration" # which unit process it applies to. TODO hould be user input.
    cost_range_list = []; #results will be inputted in this array

    #for value_change in pct_to_target1: # cycles through each value from MC range
    for value_change in list_final:

        # create and build model
        m = wt.watertap_setup(dynamic = False)
        m = wt.case_study_trains.get_case_study(name = 'carlsbad', flow = 4.5833, m = m)

        getattr(m.fs, up_name).water_recovery.fix(value_change)

        # set variable to MC value
        result = wt.run_water_tap(m)
        results_table = get_results_table(m, unit_process_names)
        cost_range_list.append(results_table.total_up_cost.sum())


    return cost_range_list

startTime = time.time()

pool=Pool()
dfs = pool.map(monte_run, list_final) #SomeClass().preprocess_data()

executionTime = (time.time() - startTime)
print('Execution time in seconds: ' + str(executionTime))

In [ ]:
####TO DO LOAD AND SAVE!!

In [ ]:
#### SAVE TRAIN ####
# path = 'trains/Tutorial1_treatment_train_example.csv'
# wt.save_train(T, path)

In [ ]:
# #### LOAD TRAIN ####
# path = 'trains/Tutorial1_treatment_train_example.csv'
# TT = wt.load_train(path)

In [ ]:
# wt.display.show_train(TT)