In [1]:
import pandas as pd

In [13]:
raw = pd.read_csv('./cost_results.csv',index_col=0)
raw.index.names=['unit']
raw = raw.reset_index()
df = pd.melt(raw, id_vars=['unit'], value_vars=raw.columns.to_list()[1:])

In [14]:
df

                     unit        variable      value
0                    swoi   total_up_cost  23.366026
1               coag_floc   total_up_cost  13.104165
2    tri_media_filtration   total_up_cost  13.426630
3                     SAA   total_up_cost   0.390702
4                     SBA   total_up_cost   0.438049
..                    ...             ...        ...
268                   co2  other_var_cost  -0.000000
269                 chlor  other_var_cost  -0.000000
270               ammonia  other_var_cost  -0.000000
271             TWS_24_hr  other_var_cost  -0.000000
272                  muni  other_var_cost  -0.000000

[273 rows x 3 columns]

In [17]:
xaxis_column_name = ['swoi']
yaxis_column_name = ['total_up_cost']
ddf = df[(df['unit'].isin(xaxis_column_name))&(df['variable'].isin(yaxis_column_name))]

In [18]:
ddf

   unit       variable      value
0  swoi  total_up_cost  23.366026